<tr class="content_as">
  <td class="tableheader"><input type="checkbox" name="select-all" id="select-all" /></td>
  <td class="tableheader">ISBN</td>
  <td class="tableheader">Book Title</td>
</tr>
<% if @content_for_license.present? %>
  <% @content_for_license.each do |lic_group| %>
    <tr class="current_location">
      <td bgcolor="#FBFBFB">
        <input type="checkbox" name="checkbox" id="chk" />
      </td>
      <td bgcolor="#FBFBFB">
        <%= lic_group.title %>
      </td>
      <td bgcolor="#FBFBFB">
        <%= lic_group.isbn %>
      </td>
      <td bgcolor="#FBFBFB">
      </td>
    </tr>
  <% end %>
  <tr>
  <td>&nbsp;</td>
  <td><input type="button" id="button" value="add" onclick="getAddDetails();" class="submit_btn" /></td>
</tr>
<%else%>
  No Record Found
<%end%>
<script>
  $('#select-all').click(function(event) {   
    if(this.checked) {
      // Iterate each checkbox 
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
    } else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  }

  });
</script>