%body{:class => "body1"}
= render :partial => '/layouts/header'
%div{:class=>"div1"}
  %tr
    %td{:colspan => "2"}
      %table{:bgcolor => "#cccccc", :border => "0", :cellpadding => "10", :cellspacing => "1", :width => "100%"}
        %tbody
          %tr
            %td.tableheader Publisher
            %td.tableheader Id
            %td.tableheader Name
            %td.tableheader Type
            %td.tableheader Saleable
            %td.tableheader Linkable From
            %td.tableheader Linkable To
            %td.tableheader Created By
          %tr
            %td{:bgcolor => "#FBFBFB"} wtbooks
            %td#40521Code{:bgcolor => "#FBFBFB"} wtbooks-LIC-6HRYX1E5P8
            %td{:bgcolor => "#FBFBFB"}
              %a{:href => "licenseDetails.do?licenseId=40521&pubCode=wtbooks"} AER License for 9781283501118
            %td#40521Type{:bgcolor => "#FBFBFB"} Downloadable Content
            %td{:bgcolor => "#FBFBFB"} Yes
            %td{:bgcolor => "#FBFBFB"} -----
            %td{:bgcolor => "#FBFBFB"} -----
            %td{:bgcolor => "#FBFBFB"} ctssuperadmin@bookstore.com