<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">Publisher<sup class="mandatory">*</sup></label>
  <div class="col-sm-7">
    <%= select_tag 'publisher_id',options_from_collection_for_select(Publisher.all, 'id', 'publisher_name'),:prompt => "select publisher",:class => "form-control", :id=> "publisher_id"%>
  </div>
</div></div>
<div class="col-md-6">
  <div class="form-group">
    <div class="col-sm-7">
      <input type="radio" name="content_type" value="book" class ="form-control" />Book
      <input type="radio" name="content_type" value="book" class ="form-control" />Chapter
      <input type="radio" name="content_type" value="book" class ="form-control" />Journal
      <input type="radio" name="content_type" value="book" class ="form-control" />Article
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="License" class="col-sm-5 control-label">ISBN<sup class="mandatory">*</sup></label>
    <div class="col-sm-7">
      <input type="text" name="title" class ="form-control" id ="isbn"/>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="License" class="col-sm-5 control-label">title<sup class="mandatory">*</sup></label>
    <div class="col-sm-7">
      <input type="text" name="title" class ="form-control" id ="title"/>
    </div>
  </div>
</div>
<!-- <tr>
 <td height = "25" colspan="5">
   <input type="radio" name="content_type" value="book"/>Book
   <input type="radio" name="content_type" value="chapter"/>Chapter
   <input type="radio" name="content_type" value="journal"/>Journal
   <input type="radio" name="content_type" value="article"/>Article
 </td>
</tr> -->
<tr>
 <td height = "25" colspan="5">
  <div id="book">
   ISBN<input type="text" id ="isbn" name="title"/>
   Title<input type="text" id ="title" name="title"/>
  </div>
  <div id="chapter">
   ISBN<input type="text"  name="title"/>
   Chapter Title<input type="text" name="title"/>
   Content Code<input type="text" name="title"/>
  </div>
  <div id="journal">
   Journal Title<input type="text" name="title"/>
   Journal Code<input type="text" name="title"/>
  </div>
  <div id="article">
   Journal Code<input type="text" name="title"/>
   Title<input type="text" name="title"/>
   Content Code<input type="text" name="title"/>
   DOI<input type="text" name="title"/>
  </div>
 </td>
 <td height = "25" colspan="5">
  <td><input type="button" name="button2" value="Search" onclick="getSearchDetails();" class="submit_btn" /></td>
 </td>
</tr>
<script type="text/javascript">
  function getSearchDetails(){
    var title = $('#title').val();
    var isbn = $('#isbn').val();
    $.ajax({
      type: 'GET',
      url: '/licenses/content_search',
      data : {isbn: isbn, title: title }
    });
  }
</script>