<tr>
 <td height = "25" colspan="5">
   <input type="radio" name="content_type" value="book"/>Book
   <input type="radio" name="content_type" value="chapter"/>Chapter
   <input type="radio" name="content_type" value="journal"/>Journal
   <input type="radio" name="content_type" value="article"/>Article
 </td>
</tr>
<tr>
 <td height = "25" colspan="5">
  <div id="book">
   ISBN<input type="text" id ="isbn" name="title"/>
   Title<input type="text" id ="title" name="title"/>
  </div>
  <div id="chapter">
   ISBN<input type="text"  name="title"/>
   Chapter Title<input type="text" name="title"/>
   Content Code<input type="text" name="title"/>
  </div>
  <div id="journal">
   Journal Title<input type="text" name="title"/>
   Journal Code<input type="text" name="title"/>
  </div>
  <div id="article">
   Journal Code<input type="text" name="title"/>
   Title<input type="text" name="title"/>
   Content Code<input type="text" name="title"/>
   DOI<input type="text" name="title"/>
  </div>
 </td>
 <td height = "25" colspan="5">
  <td><input type="button" name="button2" id="button" value="Search" onclick="getSearchDetails();" class="submit_btn" /></td>
 </td>
</tr>
<script type="text/javascript">
  function getSearchDetails(){
    var title = $('#title').val();
    var isbn = $('#isbn').val();
    $.ajax({
      type: 'GET',
      url: '/licenses/content_search',
      data : {isbn: isbn, title: title }
    });
  }
</script>