 <div class="row">
  <div class="col-md-12">
    <div class="mt10 table-demo">Books 
      <span class="pull-right">
        <!-- <div class="dropdown">
          <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul>
        </div> -->
      </span>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr style="font-size:13px">
              <th>Book Title</th>
              <th>ISBN</th>
              <th>Language</th>
            </tr>
          </thead>
          <tbody>
		      <% if @result.present? %>        
            <% @result.each do |f| %>
              <tr>
                <td><%= f.book_title %></td>
                <td><%= link_to f.isbn, new_site_setting_path(f) %></td>
                <td><%= f.language %></td>
              </tr>
            <% end %>
        <div class="pagination-frontend">
       </div>
          <% else %>
            <tr>
              <td bgcolor="#FBFBFB">
                <p> Record Not Found </p> 
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
     <%= will_paginate @result,renderer: BootstrapPagination::Rails%>
  </div>
  <div class="col-sm-12"> </div>
</div>