<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">
	 <table>
	 <thead>
	 		<tr>
	 			<th width="15%" class="tableheader">Institution ID</th>
				<th width="15%" class="tableheader">Institution Name</th>
				<th width="15%" class="tableheader">Lib./Dept. Name</th>
				<th width="7%" class="tableheader">Country</th>
				<th width="10%" class="tableheader">Primary Contact Name</th>
				<th width="10%" class="tableheader">Status</th>
				<th width="10%" class="tableheader">New IP Requests</th>
				<th width="25%" align="center" class="tableheader">Actions</th>
	 		</tr>
	 </thead>
	</table>
	 	No Records found
		</div>
</body>


