<html>
<body class = "body1">
<div class="div1">

<table>
 	<thead>
 		<th class="page_head">PrintHouse Setup</th>
 	</thead>
 </table>


<div class="center">
<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("group_license_home.gif"),printhouse_setup_search_path %><br>
		Print House
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"),printhouse_setup_search_path %>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("create.gif"),printhouse_setup_new_path %>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("campaign.gif"),printhouse_setup_print_order_path %><br>
		Print Order
	</td>
	
</tr>
</table>
</div>
</div>
</body>
</html>