<!--Header-->
<%= render :partial => "#{@publisher.theme_name}"%> 
<!--HeaderEnd-->
<div class="container-fluid wrapper" > 
  <div class="row "> 
    <%= render :partial => "fosteracademics_subject_sidebar"%>

    <div class="col-md-9 col-sm-9 margin_top5px ">
      <div class="border_wrapper padding10px">
        <div id="bodydivs">
          <div id= 'pub_book'>
            <h1 class="sectionHeading ">Privacy Policy</h1>
            <p class="mt-20">
              <% if @publisher_policy.present? %>
                <%= @publisher_policy.html_safe %>       
              <%end%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "fosteracademics_footer"%>