<!--Header-->
<%= render :partial => "#{@publisher.theme_name}"%> 
<!--HeaderEnd-->
<div class="container-fluid wrapper" > 
  <div class="row "> 
    <%= render :partial => "fosteracademics_subject_sidebar"%>

    <div class="col-md-9 col-sm-9 margin_top5px ">
      <div class="border_wrapper padding10px">
        <div id="bodydivs">
          <h1 class="sectionHeading ">Terms & Conditions</h1>
          <div class="mt-20">
            <p>
              <%if @publisher_terms.present? %>
                <%= @publisher_terms.html_safe %>
              <%end%>
            </p><br>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "fosteracademics_footer"%>