<html>
	<body class = "body1">
		<%= content_tag :div, class: "exception", data: { status: @exception.status, response: @exception.response.to_s.humanize, rails: Rails.version }, onclick: ("location.href=\"#{root_url}\";" if @exception.status == "500" && Rails.application.routes.recognize_path("/")), title: ("Return Home" if @exception.status == "500" && Rails.application.routes.recognize_path("/")) do %>
		  <%= content_tag :span, @exception.description.html_safe %>
			<p><font color="white"><%= @exception.message %> </font></p>
		  <%= link_to "Click Here to go back", :back %>
		<% end %>
  </body>
</html>
