<div class="row">
  <div class="col-md-12">
      <div class="mt10 table-demo">Search Result <span class="pull-right">
                      <div class="dropdown">
                        <ul class="nav">
                          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            <ul class="dropdown-menu-right">
                              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                              <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      </span></div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr style="font-size:13px">
              <th class="tableheader">Publisher</th>
              <th class="tableheader">Promo Code ID</th>
              <th class="tableheader">Campaign Name</th>
              <th class="tableheader">Promo Code usage Count</th>
            </tr>
          </thead>
          <tbody>
            <% if @promo_codes.present? %>
              <% @promo_codes.each do |promo_code| %>
                <tr>
                  <td><%= link_to promo_code.publisher_id%> </td>
                  <td><%= promo_code.id %></td>
                  <td><%= promo_code.campaign_id %> </td>
                  <td><%= promo_code.number_of_promo_code %></td>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12"> </div>
  </div>
</div>