
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/******** 1. General ********/
body {
  color: #797979;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

.submenu2 li a {
	background-color: #8a7fb9;
	    display: block;
       padding: 12px 10px 12px 54px;
    color: #b4b6bd;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    font-weight: 400;
    outline: none !important;
    /*border-left: 3px solid #2f353f;*/
}

/******************** 3.Top Header ****************/

header {
  background-color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  position:fixed;
  right:0;
  left:250px;
 
}
aside.left-panel.collapsed + .content header {
    left: 75px;
     
}
.logo-lg{max-width: 75%; padding:6px 0;}
.logo-sm{max-width: 75%; padding:2px 0;display:none}
.left-panel.collapsed  .logo  .logo-lg {
    display: none;
}
.left-panel.collapsed  .logo  .logo-sm {
    display: inline-block
}
.navbar-toggle {
  margin: 15px 15px 8px 0px;
  display: block;
  padding-left: 0px;
}

.navbar-toggle .icon-bar {
  background-color: #b3b3be;
}

.app-search {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
}
.app-search a {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #c4c4cd;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: none;
  font-size: 13px;
  color: #444444;
  padding-left: 20px;
  background: #edf1f2;
  box-shadow: none;
  border-radius: 34px;
  margin-top: 1px;
}

.app-search .form-control::-moz-placeholder {
  color: #c4c4cd;
}
.top-nav .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #f5f5f5;
}
 
/* =============== RESPONSIVE =================== */
 
/*** Aside Collapsed ***/
@media (min-width: 769px) {
  aside.left-panel.collapsed {
    width: 75px;
    text-align: center;
  }

  aside.left-panel.collapsed + .content {
    margin-left: 75px;
  }
  aside.left-panel.collapsed .topMenu > .fa-angle-right{display:none;}
.collapsed + .content .footer {
    left: 75px;
}
  aside.left-panel.collapsed .user .user-login,
aside.left-panel.collapsed span.nav-label {
    display: none;
  }

  aside.left-panel.collapsed .navigation > ul > li > a {
    padding: 15px;
  }
  aside.left-panel.collapsed .navigation > ul > li > a:hover {
    background-color: #272c35;
    border-left: 3px solid #6e8cd7;
  }

  aside.left-panel.collapsed i.fa {
    font-size: 22px;
  }

  aside.left-panel.collapsed .navigation > ul > li.has-submenu:after {
    display: none;
  }
}

/*** Aside Collapsed Sub Menu ***/
@media (min-width: 769px) {
  aside.left-panel.collapsed .navigation ul li ul {
    position: absolute;
    z-index: 3;
    left: 100%;
    top: 0px;
    background-color: #272c35;
    box-shadow: none;
    padding: 10px 0px;
    min-width: 200px;
  }

  aside.left-panel.collapsed .navigation > ul > li:hover > ul {
    display: block !important;
  }
  aside.left-panel.collapsed .navigation > ul > li:hover > ul

  aside.left-panel.collapsed .navigation ul li ul li a {
    border: 0px;
    color: #b4b6bd;
    padding: 8px 25px 8px 40px;
  }

  aside.left-panel.collapsed .navigation ul li ul li a:hover {
    color: #fff;
  }
}
@media (max-width: 768px) {



  aside.left-panel.collapsed {
    width: 250px;
    left: 0px;
    overflow: hidden !important;
  }

  aside.left-panel.collapsed + .content {
    margin-left: 0px;
    transform: translate3d(250px, 0px, 0px);
    -ms-transform: translate3d(250px, 0px, 0px);
    -webkit-transform: translate3d(250px, 0px, 0px);
    -moz-transition: translate3d(250px, 0px, 0px);
    -o-transition: translate3d(250px, 0px, 0px);
  }

  aside.left-panel {
    left: 100%;
  }

  .footer {
    left: 0px;
  }

  section.content {
    margin-left: 0px;
  }

  .content > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header h1 {
    margin-top: 0px;
  }
}

@media (max-width: 450px) {

  .username {
    display: none;
  }
  .dropdown .extended i {
    display: none;
  }
  
  
  

}
.tabbingSection{padding:7px !important;}




/*wizard start*/



.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  margin-top: 15px;
  width: 100%;
  position: relative;
}


.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  left: 5px;
  position: absolute;
  content: " ";
  width: 83%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: left;
  position: relative;
}

.stepwizard-step p {
 
  margin-top: 5px;
 
}

.w-btn {
  /* height: 29px; */
  border-radius: 100px;
    padding: 3px 9px;
  display: inline;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px #ddd;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.w-btn2 {
  /* height: 29px; */
 border-radius: 100px;
    padding: 3px 9px;
  display: inline;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px #ddd;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  background: #E8E8E8;
}

.bgBlue{background:#eef5fb;}
.authorGreen{color:#ffffff!important; background-color: #9bbb58;!important}
.chapterAssessment{color:#ffffff!important; background-color:#253f60;!important}
.copyEditor{color:#ffffff!important;  background-color:#c5bd98;!important}
.leadEditor{color:#ffffff!important;  background-color:#948b54;!important}

.leftNav{height:85vh;overflow:auto;}
.note{font-size:12px;color:#ff0000;font-style: italic;}
@media (max-width: 768px) {
	aside.left-panel.collapsed + .content { left: 0 !important;}
header {left: 0px;}

.collapsed + .content .footer {left: 0px;}
}

.file-placeholder {
  position: relative;
  cursor: pointer;
 
  height: 40px;
  /*
  you can use the label to trigger the event    */
  /*
  or the input file. here I use both but you don't have to   */
}
.file-placeholder label {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  height: 40px;
}
 
.file-placeholder input[type=file] {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  
  height: 40px;
  opacity: 0;
}
.file-placeholder .file-browse {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}
.file-placeholder .file-browse .file-browse-txt {
  display: block;
  float: left;
  line-height: 40px;
  width: 80%;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-placeholder .file-browse .file-browse-txt.hasValue {
  background-color: #ededed;
}
.file-placeholder .file-browse .browse {
  display: block;
  float: left;
  width: 20%;
  background-color: #42b5e8;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

/*===============Accordian for book create page==================================*/
.checkout-wrapper{padding-top: 40px; padding-bottom:40px; background-color: #fafbfa;}
.checkout{    background-color: #fff;
    border:1px solid #eaefe9;
     
    font-size: 14px;}
.panel{margin-bottom: 0px;}
.checkout-step {
     
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}
.checkout-step-title{ font-size: 18px;
    font-weight: 500;
    vertical-align: middle;display: inline-block; margin: 0px;
     }
 
.checout-address-step{}
.checout-address-step .form-group{margin-bottom: 18px;display: inline-block;
    width: 100%;}

.checkout-step-body{padding-left: 60px; padding-top: 30px;}

.checkout-step-active{display: block;}
.checkout-step-disabled{display: none;}

 
 
   
.checkout-sidebar{background-color: #fff;
    border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;}
.checkout-sidebar-merchant-box{background-color: #fff;
    border:1px solid #eaefe9; margin-bottom: 30px;}
.checkout-total{border-bottom: 1px solid #eaefe9; padding-bottom: 10px;margin-bottom: 10px; }
.checkout-invoice{display: inline-block;
    width: 100%;}
.checout-invoice-title{    float: left; color: #30322f;}
.checout-invoice-price{    float: right; color: #30322f;}
.checkout-charges{display: inline-block;
    width: 100%;}
.checout-charges-title{float: left; }
.checout-charges-price{float: right;}
.charges-free{color: #43b02a; font-weight: 600;}
.checkout-payable{display: inline-block;
    width: 100%; color: #333;}
.checkout-payable-title{float: left; }
.checkout-payable-price{float: right;}

.checkout-cart-merchant-box{ padding: 20px;display: inline-block;width: 100%; border-bottom: 1px solid #eaefe9;
 padding-bottom: 20px; }
.checkout-cart-merchant-name{color: #30322f; float: left;}
.checkout-cart-merchant-item{ float: right; color: #30322f; }
.checkout-cart-products{}

.checkout-cart-products .checkout-charges{ padding: 10px 20px;
    color: #333;}
.checkout-cart-item{ border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;}
 .checkout-item-list{}
.checkout-item-count{ float: left; }
.checkout-item-img{width: 60px; float: left;}
.checkout-item-name-box{ float: left; }
.checkout-item-title{ color: #30322f; font-size: 14px;  }
.checkout-item-unit{  }
.checkout-item-price{float: right;color: #30322f; font-size: 14px; font-weight: 600;}


.checkout-viewmore-btn{padding: 10px; text-align: center;}

.header-checkout-item{text-align: right; padding-top: 20px;}
.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}
.checkout-promise-item i{padding-right: 10px;color: #43b02a;}

/*===============End Accordian for book create page==================================*/
