= render :partial => '/layouts/header'

%table{:bgcolor => "#cccccc", :border => "0", :cellpadding => "8", :cellspacing => "1", :width => "100%"}
  %tbody
    %tr
      %td.tableheader Publisher Code
      %td.tableheader Publisher Name
      %td.tableheader Contact Name
      %td.tableheader Contact Email
      