<h1>Welcome my institution</h1>
<html>
  <body class = "body1">
    <div class="div1">
		<table>
      <tr>
      	<%=  @institute_name.institution_name %>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Primary Content Information</td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Contributors        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Pricing        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Access Rules        </td>
        <td align="center" background="images/step_bg_over.gif" bgcolor="#FFFFFF"><strong>SEO Configuration</strong>  </td>
      </tr>
    </table>
</div>
</body>
</html>

  


