<section class="content">
  <!--Header-->
  <%= render :partial => "#{@publisher.theme_name}"%> 
  <!--HeaderEnd-->

  <div id= 'pub_book'>
    <div class="contentWrapper">
      <h2 class="heading2">About Us</h2>
      <div class="clearfix"></div>
      <% if @publisher_about.present? %>
         <p class="mt20"><%= @publisher_about.html_safe %></p>
      <%end%>
    </div>
  </div>

</section>      
<footer>
  <%= render :partial => "homes/clanryeinternational_footer"%>
</footer>