<section class="content">
  <!--Header-->
    <%= render :partial => "#{@publisher.theme_name}"%> 
  <!--HeaderEnd-->
  <div id= 'pub_book'>
    <div class="contentWrapper">
      <h2 class="heading2">TERMS & CONDITIONS</h2>
      <div class="clearfix"></div>
      <%if @publisher_terms.present? %>
        <p class="mt20"><%= @publisher_terms.html_safe %></p>
      <%end%>
    </div>
  </div>

</section>      
<footer>
  <%= render :partial => "homes/clanryeinternational_footer"%>
</footer>