<body class="body1"></body>
<%= render :partial => '/layouts/header' %>
<div class="div1">
  <table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" width="70%"></table>
  <table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" class="center" width="100%">
    <tbody>
      <tr>
        <td class="tableheader">Publisher</td>
        <td class="tableheader">Promo Code ID</td>
        <td class="tableheader">Campaign Name</td>
        <td class="tableheader">Promo Code usage Count</td>
      </tr>
	        <td bgcolor="#FBFBFB">
	          <p> Record Not Found </p> 
	        </td>
        </tr>
      </tr>
    </tbody>
  </table>
</div>