<html>
	<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">

			</SCRIPT>
        <table width="860" border="0" cellspacing="0" cellpadding="0"> 
		    	<tr>
            <td colspan="2">
            	<table border="0" align="center" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC">
								<tr>
									<td align="center" bgcolor="#FFFFFF" background="images/step_bg_over.gif"><strong>Primary Content Information</strong></td>
									<td align="center" bgcolor="#FFFFFF" background="images/step_bg.gif">Contributors</td>
									<td align="center" bgcolor="#FFFFFF" background="images/step_bg.gif">Content Pricing</td>
									<td align="center" bgcolor="#FFFFFF" background="images/step_bg.gif">Content Access Rules</td>
									<td align="center" bgcolor="#FFFFFF" background="images/step_bg.gif">SEO Configuration</td>
								</tr>
			  			</table>
			  		</td>
          </tr>
			
          <tr>
            <td class="page_head">Primary Content Information</td>
            <td align="right" valign="bottom" class="page_head"><table border="0" cellspacing="0" cellpadding="0" style="margin-bottom:1px;">
			        <td><img src="images/btsr01.gif" width="6" height="23" /></td>
				      <td style="background-image:url(images/btsr02.gif)">   	 
				      	<table border="0" cellspacing="0" cellpadding="0">
				          <tr>
				            <td><a href="javascript:openHelpForTopic('28');" ><img src="images/help_icon.gif" width="16" height="16" border="0" /></a></td>
				            <td><a href="javascript:openHelpForTopic('28');" ><span style="font-size:11px;margin-left:8px; margin-right:8px;">Help</span></a></td>
				          </tr>
	        			</table>
	        		</td>
      				<td><img src="images/btsr03.gif" width="6" height="23" /></td>
      			</tr>
    		</table>
    		</td>
            </tr>
            <tr>
              <td colspan="2" align="left"></td>
            </tr>
            <tr>
              <td colspan="2" align="right"></td>
            </tr>
            <tr>
              <td colspan="2" align="right">Fields marked as&nbsp;<span class="mandtory">*</span>&nbsp;are mandatory</td>
            </tr>
            <tr>
              <td colspan="2"><table border="0" cellspacing="0" cellpadding="10">
                
				
                <tr>
                  <td>Content Code</td>
                  <td><input type="text" name="code" value="System Generated" readonly="readonly" class="text_field" /></td>
                  <td>Publisher <span class="mandtory">*</span></td>
                  <td>
                          <select name="pubCode" onchange="getClassification(this.value,'0');" id="publisherCombo"><option selected value="0">Select</option>
							
                            
                              <option value="10038">Aakar Books</option>
                            
                              <option value="10039">
                              Aavishar Publications
                              </option>
                            
                              <option value="10040">
                              ABD Publications
                              </option>
                            
                              <option value="10041">
                              Abhishek Publications
                              </option>
                            
                              <option value="10042">
                              Agam Kala Prakashan
                              </option>
                            
                              <option value="10012">
                              AIAA
                              </option>
                            
                              <option value="10021">
                              All Free Media (e-bookowo)
                              </option>
                            
                              <option value="10120">
                              Allen Press
                              </option>
                            
                              <option value="10133">
                              alok
                              </option>
                            
                              <option value="10043">
                              Alp Books
                              </option>
                            
                              <option value="10087">
                              Anshah Publishing House
                              </option>
                            
                              <option value="10044">
                              Asian Books
                              </option>
                            
                              <option value="10118">
                              Atēna
                              </option>
                            
                              <option value="10045">
                              Authors Press
                              </option>
                            
                              <option value="10113">
                              Avots
                              </option>
                            
                              <option value="10089">
                              B S Publication
                              </option>
                            
                              <option value="10046">
                              Better Books
                              </option>
                            
                              <option value="10131">
                              bijay kmuar
                              </option>
                            
                              <option value="10095">
                              Bimla Publishing House
                              </option>
                            
                              <option value="10047">
                              Biotech Books
                              </option>
                            
                              <option value="10117">
                              Biznesa augstskola Turība
                              </option>
                            
                              <option value="10048">
                              Book Enclave
                              </option>
                            
                              <option value="10122">
                              check
                              </option>
                            
                              <option value="10123">
                              check1
                              </option>
                            
                              <option value="10049">
                              Computech Publication
                              </option>
                            
                              <option value="10050">
                              Delhi Book Bureau
                              </option>
                            
                              <option value="10109">
                              Dienas Grāmata
                              </option>
                            
                              <option value="10096">
                              DJØF Forlag
                              </option>
                            
                              <option value="10029">
                              Dummy Publisher1
                              </option>
                            
                              <option value="10030">
                              Dummy Publisher2
                              </option>
                            
                              <option value="10104">
                              eGramata
                              </option>
                            
                              <option value="10105">
                              egramataMemberPublisher 
                              </option>
                            
                              <option value="10051">
                              Epitome Books
                              </option>
                            
                              <option value="10052">
                              Genetech Publications
                              </option>
                            
                              <option value="10101">
                              Gill & MacMillan
                              </option>
                            
                              <option value="10034">
                              Global Media
                              </option>
                            
                              <option value="10053">
                              Gyan Publications
                              </option>
                            
                              <option value="10085">
                              Himalaya Books Pvt. Ltd.
                              </option>
                            
                              <option value="10054">
                              Himalaya Publishing House
                              </option>
                            
                              <option value="10055">
                              Holiday Bookstore
                              </option>
                            
                              <option value="10056">
                              Ibdc
                              </option>
                            
                              <option value="10057">
                              Inter-India Publications
                              </option>
                            
                              <option value="10106">
                              Jumava
                              </option>
                            
                              <option value="10110">
                              Jāņa Rozes apgāds
                              </option>
                            
                              <option value="10058">
                              Kalpaz Publications
                              </option>
                            
                              <option value="10107">
                              Kontinents
                              </option>
                            
                              <option value="10119">
                              Latvijas Bībeles biedrība
                              </option>
                            
                              <option value="10092">
                              Leeladevi Publications
                              </option>
                            
                              <option value="10099">
                              lkjh
                              </option>
                            
                              <option value="10103">
                              macmillan publishers india limited
                              </option>
                            
                              <option value="10127">
                              macmillan publishing
                              </option>
                            
                              <option value="10111">
                              Madris
                              </option>
                            
                              <option value="10059">
                              Managalam Prakashan
                              </option>
                            
                              <option value="10094">
                              Mayur Publication
                              </option>
                            
                              <option value="10028">
                              Mem
                              </option>
                            
                              <option value="10060">
                              Mind Melodies
                              </option>
                            
                              <option value="10098">
                              mjhu
                              </option>
                            
                              <option value="10027">
                              Moderator
                              </option>
                            
                              <option value="10061">
                              Mohit Publications
                              </option>
                            
                              <option value="10011">
                              MPS
                              </option>
                            
                              <option value="10129">
                              mps test
                              </option>
                            
                              <option value="10130">
                              mpstest1
                              </option>
                            
                              <option value="10115">
                              N.I.M.S
                              </option>
                            
                              <option value="10086">
                              National Gandhi Museum
                              </option>
                            
                              <option value="10102">
                              National Institute of Adult Continuing Education (NIACE)
                              </option>
                            
                              <option value="10062">
                              Navyug Publications
                              </option>
                            
                              <option value="10063">
                              New Asian Publications
                              </option>
                            
                              <option value="10100">
                              Nyt Juridisk Forlag
                              </option>
                            
                              <option value="10019">
                              Oficyna Wydawnicza Impuls
                              </option>
                            
                              <option value="10132">
                              omkar
                              </option>
                            
                              <option value="10064">
                              Oxford Book Co.
                              </option>
                            
                              <option value="10065">
                              Paradise Publications
                              </option>
                            
                              <option value="10091">
                              Pharma Book Syndicate
                              </option>
                            
                              <option value="10093">
                              Prabha Publications
                              </option>
                            
                              <option value="10126">
                              pradeep
                              </option>
                            
                              <option value="10066">
                              Pragati Prakashan
                              </option>
                            
                              <option value="10067">
                              Pragun Publications
                              </option>
                            
                              <option value="10112">
                              Pētergailis
                              </option>
                            
                              <option value="10097">
                              qwer1
                              </option>
                            
                              <option value="10068">
                              R. S. Books
                              </option>
                            
                              <option value="10069">
                              Rahul Publications
                              </option>
                            
                              <option value="10070">
                              Rajat Publications
                              </option>
                            
                              <option value="10071">
                              Rajput Publications
                              </option>
                            
                              <option value="10108">
                              RaKa
                              </option>
                            
                              <option value="10072">
                              Rastogi Publications
                              </option>
                            
                              <option value="10073">
                              Readworthy And Epitome
                              </option>
                            
                              <option value="10124">
                              revive
                              </option>
                            
                              <option value="10074">
                              Satish Serial Publications
                              </option>
                            
                              <option value="10075">
                              Satya Prakashan
                              </option>
                            
                              <option value="10076">
                              SCI Tech Publishing
                              </option>
                            
                              <option value="10077">
                              Shipra Publications
                              </option>
                            
                              <option value="10078">
                              Studium Press
                              </option>
                            
                              <option value="10079">
                              Suarup And Sons
                              </option>
                            
                              <option value="10080">
                              Sunrise Publishers
                              </option>
                            
                              <option value="10081">
                              Swastik Publications
                              </option>
                            
                              <option value="10082">
                              Swastik Publications (Chandigarh)
                              </option>
                            
                              <option value="10083">
                              Swati Publications
                              </option>
                            
                              <option value="10016">
                              Test Publisher
                              </option>
                            
                              <option value="10017">
                              The Johns Hopkins University Press
                              </option>
                            
                              <option value="10114">
                              Tiesu namu aģentūra
                              </option>
                            
                              <option value="10125">
                              urmi
                              </option>
                            
                              <option value="10018">
                              versita.pl
                              </option>
                            
                              <option value="10128">
                              Wolters Kluwer Croner business
                              </option>
                            
                              <option value="10090">
                              Word Press
                              </option>
                            
                              <option value="10088">
                              World Association For Studies In Literatures In English
                              </option>
                            
                              <option value="10121">
                              World Technology
                              </option>
                            
                              <option value="10037">
                              Wydawnictwo AJ- Press
                              </option>
                            
                              <option value="10033">
                              Wydawnictwo Akademii Humanistyczno-Ekonomicznej w Łodzi
                              </option>
                            
                              <option value="10026">
                              Wydawnictwo eMPi&#178;
                              </option>
                            
                              <option value="10036">
                              Wydawnictwo Homo Dei
                              </option>
                            
                              <option value="10025">
                              Wydawnictwo Karmelitów Bosych
                              </option>
                            
                              <option value="10020">
                              Wydawnictwo Kastor
                              </option>
                            
                              <option value="10022">
                              Wydawnictwo Naukowe Uniwersytetu im. Adama Mickiewicza
                              </option>
                            
                              <option value="10023">
                              Wydawnictwo Naukowe Uniwersytetu Mikołaja Kopernika
                              </option>
                            
                              <option value="10024">
                              Wydawnictwo Placet
                              </option>
                            
                              <option value="10031">
                              Wydawnictwo Politechniki Krakowskiej
                              </option>
                            
                              <option value="10032">
                              Wydawnictwo Uniwersytetu Gdańskiego
                              </option>
                            
                              <option value="10035">
                              Wydawnictwo Zysk i S-ka
                              </option>
                            
                              <option value="10084">
                              Yugank Publisher
                              </option>
                            
                              <option value="10116">
                              Zinātne
                              </option></select>
                          </td>
                </tr>
                <tr>
                  <td>Title <span class="mandtory">*</span></td>
                  <td><input type="text" name="title" value="" class="text_field" /></td>
                  <td>Sub Title</td>
                  <td><input type="text" name="subtitle" value="" class="text_field" /></td>
                </tr>
                <tr>
                  <td>ISBN <span class="mandtory">*</span></td>
                  <td><input type="text" name="primaryIsbn" value="" class="text_field" /></td>
                  <td>Language <span class="mandtory">*</span></td>
                  <td>
                            <select name="language" id="languageCombo"><option selected value="0">Select</option>
                              
                                <option value="1">
                                English
                                </option>
                              
                                <option value="2">
                                Polish
                                </option>
                              
                                <option value="3">
                                Dansk
                                </option>
                              
                                <option value="4">
                                Latvian
                                </option></select>
                            </td>
                </tr>
                <tr>
                
                	
                  <td>Content Classification</td>
                  
                  
                  
                  <td><div id="classificationCmb">
                  			
                  			<select  id="classification" name="classification">
                            
                            <option selected  value="0">Select</option>
							
							
                  </select>
                  	
                  </div></td>
                  
                  
                  
                  
                  <td>File Name<span class="mandtory">*</span></td>
                  <td><input type="text" name="fileName" value="" class="text_field" /></td>
                </tr>
                
                <tr><td>Stock Number</td>
                  <td><input type="text" name="stockNumber" value="" class="text_field" /></td></tr>
                <tr>
                  <td>Publisher Site Sales Link</td>
                  <td colspan="3"><input type="text" name="pubSiteSalesLink" size="55" value="" class="text_field" /></td>
                </tr>
                <tr>
                  <td valign="top">Blurb</td>
                  <td colspan="3"><textarea name="blurb" cols="50" rows="5"></textarea></td>
                </tr>
                <tr>
                  <td>Publication Date</td>
                  <td><input type="text" name="publicationDay" size="10" value="" class="text_field" /> (dd)</td>
                  <td>Publication Month</td>
                  <td><input type="text" name="publicationMonth" size="10" value="" class="text_field" />(mmm / mm)</td>
                </tr>
                <tr>
                  <td>Publication Year</td>
                  <td><input type="text" name="publicationYear" size="10" value="" class="text_field" /> (yyyy)</td>
                  <td>Conversion Required</td>
                  <td><select name="conversionRequired"><option value="Y">Yes</option>
                  <option value="N">No</option></select></td>
                </tr>
                <tr>
                  <td>Edition</td>
                  <td><input type="text" name="edition" value="" class="text_field" /></td>
				  
                  <td>Binding</td>
                  <td><select name="binding" id="bindingCombo"><option selected value="0">Select</option>
							
                            
                              <option value="AA">
                              Audio
                              </option>
                            
                              <option value="AB">
                              Audio cassette
                              </option>
                            
                              <option value="AC">
                              CD-Audio
                              </option>
                            
                              <option value="AD">
                              DAT
                              </option>
                            
                              <option value="AE">
                              Audio disc
                              </option>
                            
                              <option value="AF">
                              Audio tape
                              </option>
                            
                              <option value="AG">
                              MiniDisc
                              </option>
                            
                              <option value="AH">
                              CD-Extra
                              </option>
                            
                              <option value="AI">
                              DVD Audio
                              </option>
                            
                              <option value="AJ">
                              Downloadable audio file
                              </option>
                            
                              <option value="AZ">
                              Other audio format
                              </option>
                            
                              <option value="BA">
                              Book
                              </option>
                            
                              <option value="BB">
                              Hardback
                              </option>
                            
                              <option value="BC">
                              Paperback
                              </option>
                            
                              <option value="BD">
                              Loose-leaf
                              </option>
                            
                              <option value="BE">
                              Spiral bound
                              </option>
                            
                              <option value="BF">
                              Pamphlet
                              </option>
                            
                              <option value="BG">
                              Leather / fine binding
                              </option>
                            
                              <option value="BH">
                              Board book
                              </option>
                            
                              <option value="BI">
                              Rag book
                              </option>
                            
                              <option value="BJ">
                              Bath book
                              </option>
                            
                              <option value="BK">
                              Novelty book
                              </option>
                            
                              <option value="BL">
                              Slide bound
                              </option>
                            
                              <option value="BM">
                              Big book
                              </option>
                            
                              <option value="BZ">
                              Other book format
                              </option>
                            
                              <option value="CA">
                              Sheet map
                              </option>
                            
                              <option value="CB">
                              &#39;Sheet map, folded&#39;
                              </option>
                            
                              <option value="CC">
                              &#39;Sheet map, flat&#39;
                              </option>
                            
                              <option value="CD">
                              &#39;Sheet map, rolled&#39;
                              </option>
                            
                              <option value="CE">
                              Globe
                              </option>
                            
                              <option value="CZ">
                              Other cartographic
                              </option>
                            
                              <option value="DA">
                              Digital
                              </option>
                            
                              <option value="DB">
                              CD-ROM
                              </option>
                            
                              <option value="DC">
                              CD-I
                              </option>
                            
                              <option value="DE">
                              Game cartridge
                              </option>
                            
                              <option value="DF">
                              Diskette
                              </option>
                            
                              <option value="DG">
                              Electronic book text
                              </option>
                            
                              <option value="DH">
                              Online resource
                              </option>
                            
                              <option value="DI">
                              DVD-ROM
                              </option>
                            
                              <option value="DZ">
                              Other digital
                              </option>
                            
                              <option value="FA">
                              Film or transparency
                              </option>
                            
                              <option value="FC">
                              Slides
                              </option>
                            
                              <option value="FD">
                              OHP transparencies
                              </option>
                            
                              <option value="FE">
                              Filmstrip
                              </option>
                            
                              <option value="FF">
                              Film
                              </option>
                            
                              <option value="FZ">
                              Other film or transparency format
                              </option>
                            
                              <option value="MA">
                              Microform
                              </option>
                            
                              <option value="MB">
                              Microfiche
                              </option>
                            
                              <option value="MC">
                              Microfilm
                              </option>
                            
                              <option value="MZ">
                              Other microform
                              </option>
                            
                              <option value="PA">
                              Miscellaneous print
                              </option>
                            
                              <option value="PB">
                              Address book
                              </option>
                            
                              <option value="PC">
                              Calendar
                              </option>
                            
                              <option value="PD">
                              Cards
                              </option>
                            
                              <option value="PE">
                              Copymasters
                              </option>
                            
                              <option value="PF">
                              Diary
                              </option>
                            
                              <option value="PG">
                              Frieze
                              </option>
                            
                              <option value="PH">
                              Kit
                              </option>
                            
                              <option value="PI">
                              Sheet music
                              </option>
                            
                              <option value="PJ">
                              Postcard book or pack
                              </option>
                            
                              <option value="PK">
                              Poster
                              </option>
                            
                              <option value="PL">
                              Record book
                              </option>
                            
                              <option value="PM">
                              Wallet or folder
                              </option>
                            
                              <option value="PN">
                              Pictures or photographs
                              </option>
                            
                              <option value="PO">
                              Wallchart
                              </option>
                            
                              <option value="PP">
                              Stickers
                              </option>
                            
                              <option value="PZ">
                              Other printed item
                              </option>
                            
                              <option value="VA">
                              Video
                              </option>
                            
                              <option value="VF">
                              Videodisc
                              </option>
                            
                              <option value="VI">
                              DVD video
                              </option>
                            
                              <option value="VJ">
                              VHS video
                              </option>
                            
                              <option value="VK">
                              Betamax video
                              </option>
                            
                              <option value="VZ">
                              Other video format
                              </option>
                            
                              <option value="WW">
                              Mixed media product
                              </option>
                            
                              <option value="WX">
                              Multiple copy pack
                              </option>
                            
                              <option value="XA">
                              Trade-only material
                              </option>
                            
                              <option value="XB">
                              Dumpbin  empty
                              </option>
                            
                              <option value="XC">
                              Dumpbin  filled
                              </option>
                            
                              <option value="XD">
                              Counterpack  empty
                              </option>
                            
                              <option value="XE">
                              Counterpack  filled
                              </option>
                            
                              <option value="XF">
                              &#39;Poster, promotional&#39;
                              </option>
                            
                              <option value="XG">
                              Shelf strip
                              </option>
                            
                              <option value="XH">
                              Window piece
                              </option>
                            
                              <option value="XI">
                              Streamer
                              </option>
                            
                              <option value="XJ">
                              Spinner
                              </option>
                            
                              <option value="XK">
                              Large book display
                              </option>
                            
                              <option value="XL">
                              Shrink-wrapped pack
                              </option>
                            
                              <option value="XZ">
                              Other point of sale
                              </option>
                            
                              <option value="ZA">
                              General merchandise
                              </option>
                            
                              <option value="ZB">
                              Doll
                              </option>
                            
                              <option value="ZC">
                              Soft toy
                              </option>
                            
                              <option value="ZD">
                              Toy
                              </option>
                            
                              <option value="ZE">
                              Game
                              </option>
                            
                              <option value="ZF">
                              T-shirt
                              </option>
                            
                              <option value="ZZ">
                              Other merchandize
                              </option>
                            
                              <option value="00">
                              Undefined
                              </option></select></td>
					
                </tr>
                <tr>
                  <td>Volume</td>
                  <td><input type="text" name="volume" value="" class="text_field" /></td>
                  <td>Dimensions</td>
                  <td><input type="text" name="physicalDim" value="" class="text_field" /></td>
                </tr>
                <tr>
                  <td>Series ISBN</td>
                  <td><input type="text" name="seriesIsbn" value="" class="text_field" /></td>
                  <td>Series Title</td>
                  <td><input type="text" name="seriesTitle" value="" class="text_field" /></td>
                </tr>
                <tr>
                  <td>&nbsp;<input type="hidden" name="action" value="" id="actionId" /></td>
                  <td colspan="3" align="right">
                  
                  <input type="submit" value="Save and Continue" onclick="javascript:document.getElementById('actionId').value='save';" id="button6" class="submit_btn1" />
                  <input type="submit" value="Upload Content Files" onclick="javascript:document.getElementById('actionId').value='upload';" id="button6" class="submit_btn1" />
                  <input type="submit" value="Finish" onclick="javascript:document.getElementById('actionId').value='finish';" id="button7" class="submit_btn" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
			
<script>



</script>
          </table>
</form></td>
            <td width="10" align="right" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_right_bg.gif); background-position:right; background-repeat:repeat-y;"><img src="images/right_corn_bot.gif" width="13" height="361" /></td>
          </tr>
          <tr>
            <td width="10" height="10" align="left" valign="bottom"><img src="images/corn_left_bot.gif" width="13" height="17" /></td>
            <td height="10" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_bot_bg.gif); background-position:bottom; background-repeat:repeat-x;"><img src="images/tabl_bot_bg.gif" width="4" height="4" /></td>
            <td width="10" height="10" align="right" valign="bottom"><img src="images/corn_right_bot.gif" width="13" height="17" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" class="footer_white">
Copyright © 2006-2009 MPS Technologies Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
</div>
</body>
</html>