<html>
	<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">

<input type="hidden" name="page" value="0" id="pageField" />
<input type="hidden" name="pageSize" value="book" id="pageSizeField" />
<table width="860" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="page_head">Search</td>
    <td align="right" valign="bottom" class="page_head"></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="6">
      <tr>
        <td><table width="100%" border="0" cellpadding="10" cellspacing="0">

						<tr>
						  <td>
                            Search By 
                            
                            <label for="book"><input type="radio" name="book" value="bookId" id="book" onclick="toggledivs('bookSearchDiv','batchSearchDiv','chapterSearchDiv');"  checked="checked" />
							 Book</label>
							 &nbsp;
                            <label for="chapter"><input type="radio" name="book" value="chapterId" id="chapter" onclick="toggledivs('chapterSearchDiv','batchSearchDiv','bookSearchDiv');" />
							Chapter</label>
                            &nbsp;
                            <label for="btch1"><input type="radio" name="book" value="batchId" id="btch1" onclick="toggledivs('batchSearchDiv','bookSearchDiv','chapterSearchDiv');"  />
							Batch</label>
							
							&nbsp;&nbsp;&nbsp;
                            <span>(Wildcard characters supported: *,+ )</span>
                          </td>
					  </tr>
					  
          <tr>
            <td><div id="bookSearchDiv" style="display:block">
										<form id="searchForm" method="post" action="/AdminTool/searchSubmit.do?firecount=eurt">
                                        <table width="100%" border="0" cellpadding="10" cellspacing="0">
                                          <tbody>                                        
                                         
                                              <tr>
                                                <td width="200" height="25"> <input type="hidden" name="searchType" value="book" id="searchTypeField" />
                                          <input type="hidden" name="paging" value="false" />
                                          <input type="hidden" name="page" value="0" id="pageField" />
										  
                                          <!--html:hidden property="pageSize" styleId="pageSizeField" value="10" /-->
                                          
                                              Publisher Name</td>
                                          <td height="25"><select name="pubCode" multiple="multiple" size="4" id="publishercode"><option value="" selected="selected">---- All Publishers ----</option>
                                                    
                                                    <option value="ab">Aakar Books</option>
                                                    
                                                    <option value="ap">Aavishar Publications</option>
                                                    
                                                    <option value="abdp">ABD Publications</option>
                                                    
                                                    <option value="abhip">Abhishek Publications</option>
                                                    
                                                    <option value="akp">Agam Kala Prakashan</option>
                                                    
                                                    <option value="aiaa">AIAA</option>
                                                    
                                                    <option value="ebookowo">All Free Media (e-bookowo)</option>
                                                    
                                                    <option value="allenpress">Allen Press</option>
                                                    
                                                    <option value="alok">alok</option>
                                                    
                                                    <option value="alpb">Alp Books</option>
                                                    
                                                    <option value="aph">Anshah Publishing House</option>
                                                    
                                                    <option value="asb">Asian Books</option>
                                                    
                                                    <option value="atena">Atēna</option>
                                                    
                                                    <option value="aup">Authors Press</option>
                                                    
                                                    <option value="avots">Avots</option>
                                                    
                                                    <option value="bsp">B S Publication</option>
                                                    
                                                    <option value="brb">Better Books</option>
                                                    
                                                    <option value="bk">bijay kmuar</option>
                                                    
                                                    <option value="bph">Bimla Publishing House</option>
                                                    
                                                    <option value="bhb">Biotech Books</option>
                                                    
                                                    <option value="biznesa augstskola turiba">Biznesa augstskola Turība</option>
                                                    
                                                    <option value="be">Book Enclave</option>
                                                    
                                                    <option value="u01">check</option>
                                                    
                                                    <option value="001">check1</option>
                                                    
                                                    <option value="cp">Computech Publication</option>
                                                    
                                                    <option value="dbb">Delhi Book Bureau</option>
                                                    
                                                    <option value="dgramata">Dienas Grāmata</option>
                                                    
                                                    <option value="djoef">DJØF Forlag</option>
                                                    
                                                    <option value="dummypub1">Dummy Publisher1</option>
                                                    
                                                    <option value="dummypub2">Dummy Publisher2</option>
                                                    
                                                    <option value="egramata">eGramata</option>
                                                    
                                                    <option value="egrammempublisher">egramataMemberPublisher</option>
                                                    
                                                    <option value="eb">Epitome Books</option>
                                                    
                                                    <option value="gtp">Genetech Publications</option>
                                                    
                                                    <option value="gillmac">Gill & MacMillan</option>
                                                    
                                                    <option value="gmedia">Global Media</option>
                                                    
                                                    <option value="gp">Gyan Publications</option>
                                                    
                                                    <option value="hbpl">Himalaya Books Pvt. Ltd.</option>
                                                    
                                                    <option value="hph">Himalaya Publishing House</option>
                                                    
                                                    <option value="hb">Holiday Bookstore</option>
                                                    
                                                    <option value="ibdc">Ibdc</option>
                                                    
                                                    <option value="iip">Inter-India Publications</option>
                                                    
                                                    <option value="jumava">Jumava</option>
                                                    
                                                    <option value="jana rozes apgads">Jāņa Rozes apgāds</option>
                                                    
                                                    <option value="kp">Kalpaz Publications</option>
                                                    
                                                    <option value="kontinents">Kontinents</option>
                                                    
                                                    <option value="lbb">Latvijas Bībeles biedrība</option>
                                                    
                                                    <option value="ldp">Leeladevi Publications</option>
                                                    
                                                    <option value="lkjh">lkjh</option>
                                                    
                                                    <option value="mpil">macmillan publishers india limited</option>
                                                    
                                                    <option value="mpst">macmillan publishing</option>
                                                    
                                                    <option value="madris">Madris</option>
                                                    
                                                    <option value="mmp">Managalam Prakashan</option>
                                                    
                                                    <option value="mp">Mayur Publication</option>
                                                    
                                                    <option value="dummy_mempub">Mem</option>
                                                    
                                                    <option value="mm">Mind Melodies</option>
                                                    
                                                    <option value="mjhu">mjhu</option>
                                                    
                                                    <option value="moderator">Moderator</option>
                                                    
                                                    <option value="mtp">Mohit Publications</option>
                                                    
                                                    <option value="mps">MPS</option>
                                                    
                                                    <option value="1234">mps test</option>
                                                    
                                                    <option value="mpstest1">mpstest1</option>
                                                    
                                                    <option value="nims">N.I.M.S</option>
                                                    
                                                    <option value="ngm">National Gandhi Museum</option>
                                                    
                                                    <option value="niace">National Institute of Adult Continuing Education (NIACE)</option>
                                                    
                                                    <option value="np">Navyug Publications</option>
                                                    
                                                    <option value="nap">New Asian Publications</option>
                                                    
                                                    <option value="njf">Nyt Juridisk Forlag</option>
                                                    
                                                    <option value="impuls">Oficyna Wydawnicza Impuls</option>
                                                    
                                                    <option value="aks">omkar</option>
                                                    
                                                    <option value="obc">Oxford Book Co.</option>
                                                    
                                                    <option value="pdp">Paradise Publications</option>
                                                    
                                                    <option value="pbs">Pharma Book Syndicate</option>
                                                    
                                                    <option value="pbp">Prabha Publications</option>
                                                    
                                                    <option value="p01">pradeep</option>
                                                    
                                                    <option value="pgp">Pragati Prakashan</option>
                                                    
                                                    <option value="pp">Pragun Publications</option>
                                                    
                                                    <option value="petergailis">Pētergailis</option>
                                                    
                                                    <option value="qwer">qwer1</option>
                                                    
                                                    <option value="rsb">R. S. Books</option>
                                                    
                                                    <option value="rp">Rahul Publications</option>
                                                    
                                                    <option value="rjp">Rajat Publications</option>
                                                    
                                                    <option value="rpp">Rajput Publications</option>
                                                    
                                                    <option value="raka">RaKa</option>
                                                    
                                                    <option value="rtp">Rastogi Publications</option>
                                                    
                                                    <option value="rae">Readworthy And Epitome</option>
                                                    
                                                    <option value="rts">revive</option>
                                                    
                                                    <option value="sasp">Satish Serial Publications</option>
                                                    
                                                    <option value="satp">Satya Prakashan</option>
                                                    
                                                    <option value="scitp">SCI Tech Publishing</option>
                                                    
                                                    <option value="sp">Shipra Publications</option>
                                                    
                                                    <option value="smp">Studium Press</option>
                                                    
                                                    <option value="sas">Suarup And Sons</option>
                                                    
                                                    <option value="sunp">Sunrise Publishers</option>
                                                    
                                                    <option value="skp">Swastik Publications</option>
                                                    
                                                    <option value="spc">Swastik Publications (Chandigarh)</option>
                                                    
                                                    <option value="sip">Swati Publications</option>
                                                    
                                                    <option value="TP">Test Publisher</option>
                                                    
                                                    <option value="jhup">The Johns Hopkins University Press</option>
                                                    
                                                    <option value="tiesu namu agentura">Tiesu namu aģentūra</option>
                                                    
                                                    <option value="uo1">urmi</option>
                                                    
                                                    <option value="versita">versita.pl</option>
                                                    
                                                    <option value="croner">Wolters Kluwer Croner business</option>
                                                    
                                                    <option value="wp">Word Press</option>
                                                    
                                                    <option value="wasle">World Association For Studies In Literatures In English</option>
                                                    
                                                    <option value="wtbooks">World Technology</option>
                                                    
                                                    <option value="ajpress">Wydawnictwo AJ- Press</option>
                                                    
                                                    <option value="wahe">Wydawnictwo Akademii Humanistyczno-Ekonomicznej w Łodzi</option>
                                                    
                                                    <option value="empi2">Wydawnictwo eMPi&#178;</option>
                                                    
                                                    <option value="homodei">Wydawnictwo Homo Dei</option>
                                                    
                                                    <option value="wkarmel">Wydawnictwo Karmelitów Bosych</option>
                                                    
                                                    <option value="kastor">Wydawnictwo Kastor</option>
                                                    
                                                    <option value="wuam">Wydawnictwo Naukowe Uniwersytetu im. Adama Mickiewicza</option>
                                                    
                                                    <option value="wumk">Wydawnictwo Naukowe Uniwersytetu Mikołaja Kopernika</option>
                                                    
                                                    <option value="placet">Wydawnictwo Placet</option>
                                                    
                                                    <option value="wpk">Wydawnictwo Politechniki Krakowskiej</option>
                                                    
                                                    <option value="wug">Wydawnictwo Uniwersytetu Gdańskiego</option>
                                                    
                                                    <option value="zysk">Wydawnictwo Zysk i S-ka</option>
                                                    
                                                    <option value="yp">Yugank Publisher</option>
                                                    
                                                    <option value="zinatne">Zinātne</option></select>                                                </td>
                                            </tr>
                                              
                                              
                                              <tr>
                                                <td width="200" height="25">ISBN                                                </td>
                                                <td width="358" height="25"><textarea name="isbn" cols="60" class="text_field"></textarea></td>
                                            </tr>
                                              
                                              <tr>
                                                <td width="200" height="25">Title                                                </td>
                                                <td height="25"><input type="text" name="title" value="" class="text_field" />                                                </td>
                                            </tr>
                                              
                                              <tr>
                                                <td width="200" height="25">Author</td>
                                                <td height="25"><table border="0" cellspacing="0" cellpadding="3">
                                                  <tr>
                                                    <td width="80">First Name</td>
                                                    <td><input type="text" name="authorFirstName" value="" class="text_field" /></td>
                                                    <td width="80" align="right">Last Name </td>
                                                    <td><input type="text" name="authorLastName" value="" class="text_field" /></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                              
                                              
                                              <tr>
                                                <td width="200" height="25">Status                                                </td>
                                                
                                                <td height="25"><select name="status">
                                                    <option value="">------</option>
                                                    
                                                    <option value="CONTENT_CHECK_AWAITED"> Content Check Awaited </option>
                                                    
                                                    <option value="CONTENT_CHECK_FAILED"> Content Check Failed </option>
                                                    
                                                    <option value="READY_FOR_CCP"> Ready for Conversion </option>
                                                    
                                                    <option value="CCP_CANNOT_BE_CONVERTED"> Content cannot be Converted by CCP </option>
                                                    
                                                    <option value="SETUPTOSTAGING"> Setup to Staging </option>
                                                    
                                                    <option value="STAGING"> Content in Staging </option>
                                                    
                                                    <option value="RECREATESTAGING"> Recreate Index in Staging </option>
                                                    
                                                    <option value="STAGINGTOLIVE"> Staging to Live </option>
                                                    
                                                    <option value="LIVETOSTAGING"> LIVE to Staging </option>
                                                    
                                                    <option value="LIVE"> Content is Live </option>
                                                    
                                                    <option value="RECREATELIVE"> Recreate Index in Live </option>
                                                    
                                                </select>                                                </td>
                                            </tr>
                                              
                                              <tr>
                                                <td width="200" height="25">Upload Period                                                </td>
                                          <td height="25"><table border="0" cellspacing="0" cellpadding="3">
                                                    <tr>
                                                      <td width="80">from</td>
                                                      <td><input name="fromUploadDate" type="text" id="cal-field-5" size="11" readonly="readonly" class="text_field" />                                                      </td>
                                                      <td><a href="#"> <img src="images/search_img_blue.gif" width="21" height="18" border="0" id="cal-button-5" style="cursor:pointer;cursor:hand" /> </a>
                                                        <script type="text/javascript">
																			            Calendar.setup({
																			              inputField    : "cal-field-5",
																			              button        : "cal-button-5",
																			              align         : "Tr"
																			            });
																                    </script>                                                      </td>
                                                      <td><img src="images/clear_cal.gif" width="21" height="18" border="0" onclick="clearElement('cal-field-5')" style="cursor:pointer;cursor:hand" /> </td>
                                                      <td width="80" align="right">to                                                      </td>
                                                      <td><input name="toUploadDate" type="text" id="cal-field-6" size="11" readonly="readonly" class="text_field" />                                                      </td>
                                                      <td class="pagenumber"><a href="#"> <img src="images/search_img_blue.gif" width="21" height="18" border="0" id="cal-button-6" style="cursor:pointer;cursor:hand" /> </a>
                                                        <script type="text/javascript">
																			            Calendar.setup({
																			              inputField    : "cal-field-6",
																			              button        : "cal-button-6",
																			              align         : "Tr"
																			            });
																                    </script>                                                      </td>
                                                      <td><img src="images/clear_cal.gif" width="21" height="18" border="0" onclick="clearElement('cal-field-6')" style="cursor:pointer;cursor:hand" /> </td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                              
                                            </tbody>
											<tr>
											  <td width="200">Sort Order</td>
									  <td>
			  									<select name="orderBy" >
														<option value="">----</option>
														<option value="title">Title</option>
														<option value="publisher">Publisher Code</option>
														<option value="author">Author</option>
														<option value="uploadPeriod">Upload Period</option>
														<option value="status">Status</option>
														<option value="isbn">ISBN</option>
														<option value="createdDate">Created Date</option>
													</select>											  </td>
										  </tr>
											<tr>
											  <td width="200">No of search results per page</td>
									  <td>
			  									<select name="pageSize" >
														<option value="10">10</option>
														<option value="50">50</option>
														<option value="100">100</option>
														<option value="250">250</option>
														<option value="500">500</option>
													</select>											  </td>
										  </tr>
                                            <tr>
                                              <td width="200" align="right">&nbsp;</td>
                                              <td><input type="submit" name="search" value="Submit" onclick="return checkDates();" class="submit_btn" />
                                              <input type="reset" name="button" value="Reset" class="submit_btn" />
                                              </td>
                                          </tr>
                    </table>
					</form>
                                      </div>
<div id="batchSearchDiv" style="display:none">
										<form id="searchForm" method="post" action="/AdminTool/searchSubmit.do">
                                        <table border="0" cellpadding="10" cellspacing="0">
                                      <tbody>                                          
                                            
                                                <tr>
                                                  <td width="200" height="25"><input type="hidden" name="searchType" value="batch" id="searchTypeField" />
                                            <input type="hidden" name="paging" value="false" />
                                            <input type="hidden" name="page" value="0" id="pageField" />
                                            <input type="hidden" name="pageSize" value="10" id="pageSizeField" />
                                            
                                                
                                                <tr>
                                                  <td width="200" height="25">Conversion Batch Name                                                  </td>
                                                  <td height="25"><input type="text" name="batchName_batchSearch" value="" class="text_field" />                                                  </td>
                                            </tr>
                                                
                                                <tr>
                                                  <td width="200" height="25">Batch Creation Date                                                  </td>
                                    <td height="25"><table border="0" cellspacing="0" cellpadding="5">
                                                      <tr>
                                                        <td>from                                                        </td>
                                                        <td><input name="fromCreatedDate_batchSearch" type="text" id="cal-field-1" size="15" readonly="readonly" class="text_field" />                                                        </td>
                                                        <td><a href="#"> <img src="images/search_img_blue.gif" width="21" height="18" border="0" id="cal-button-1" style="cursor:pointer;cursor:hand" /> </a>
                                                            <script type="text/javascript">
																			            Calendar.setup({
																			              inputField    : "cal-field-1",
																			              button        : "cal-button-1",
																			              align         : "Tr"
																			            });
																                    </script>                                                        </td>
                                                        <td><img src="images/clear_cal.gif" width="21" height="18" border="0" onclick="clearElement('cal-field-1')" style="cursor:pointer;cursor:hand" /> </td>
                                                        <td>to                                                        </td>
                                                        <td><input name="toCreatedDate_batchSearch" type="text" id="cal-field-2" size="15" readonly="readonly" class="text_field" />                                                        </td>
                                                        <td class="pagenumber"><a href="#"> <img src="images/search_img_blue.gif" width="21" height="18" border="0" id="cal-button-2" style="cursor:pointer;cursor:hand" /> </a>
                                                            <script type="text/javascript">
																			            Calendar.setup({
																			              inputField    : "cal-field-2",
																			              button        : "cal-button-2",
																			              align         : "Tr"
																			            });
																                  </script>                                                        </td>
                                                        <td><img src="images/clear_cal.gif" width="21" height="18" border="0" onclick="clearElement('cal-field-2')" style="cursor:pointer;cursor:hand" /> </td>
                                                      </tr>
                                                  </table></td>
                                            </tr>
                                                
                                              </tbody>
                                              <tr>
                                                <td width="200">&nbsp;</td>
                                                <td><input type="submit" name="search" value="Submit" onclick="return checkDates();" class="submit_btn" />
                                                  <input type="reset" name="button" value="Reset" class="submit_btn" /></td>
                                          </tr>											  
                    </table> 
					</form>
                  </div>
<div id="chapterSearchDiv" style="display:none">
										<form id="searchForm" method="post" action="/AdminTool/searchSubmit.do">
                                        <table border="0" cellpadding="10" cellspacing="0">
                                    <tbody>                                          
                                           
                                              <tr>
                                                <td height="25" width="200"> <input type="hidden" name="searchType" value="chapter" id="searchTypeField" />
                                            <input type="hidden" name="paging" value="false" />
                                            <input type="hidden" name="page" value="0" id="pageField" />
                                            <input type="hidden" name="pageSize" value="10" id="pageSizeField" />
                                            Publisher Name</td>
                                          <td height="25"><select name="pubCode" multiple="multiple" size="4" id="publishercode"><option value="" selected="selected">---- All Publishers ----</option>
                                                    
                                                    <option value="ab">Aakar Books</option>
                                    
                                                    <option value="ap">Aavishar Publications</option>
                                    
                                                    <option value="abdp">ABD Publications</option>
                                    
                                                    <option value="abhip">Abhishek Publications</option>
                                    
                                                    <option value="akp">Agam Kala Prakashan</option>
                                    
                                                    <option value="aiaa">AIAA</option>
                                    
                                                    <option value="ebookowo">All Free Media (e-bookowo)</option>
                                    
                                                    <option value="allenpress">Allen Press</option>
                                    
                                                    <option value="alok">alok</option>
                                    
                                                    <option value="alpb">Alp Books</option>
                                    
                                                    <option value="aph">Anshah Publishing House</option>
                                    
                                                    <option value="asb">Asian Books</option>
                                    
                                                    <option value="atena">Atēna</option>
                                    
                                                    <option value="aup">Authors Press</option>
                                    
                                                    <option value="avots">Avots</option>
                                    
                                                    <option value="bsp">B S Publication</option>
                                    
                                                    <option value="brb">Better Books</option>
                                    
                                                    <option value="bk">bijay kmuar</option>
                                    
                                                    <option value="bph">Bimla Publishing House</option>
                                    
                                                    <option value="bhb">Biotech Books</option>
                                    
                                                    <option value="biznesa augstskola turiba">Biznesa augstskola Turība</option>
                                    
                                                    <option value="be">Book Enclave</option>
                                    
                                                    <option value="u01">check</option>
                                    
                                                    <option value="001">check1</option>
                                    
                                                    <option value="cp">Computech Publication</option>
                                    
                                                    <option value="dbb">Delhi Book Bureau</option>
                                    
                                                    <option value="dgramata">Dienas Grāmata</option>
                                    
                                                    <option value="djoef">DJØF Forlag</option>
                                    
                                                    <option value="dummypub1">Dummy Publisher1</option>
                                    
                                                    <option value="dummypub2">Dummy Publisher2</option>
                                    
                                                    <option value="egramata">eGramata</option>
                                    
                                                    <option value="egrammempublisher">egramataMemberPublisher</option>
                                    
                                                    <option value="eb">Epitome Books</option>
                                    
                                                    <option value="gtp">Genetech Publications</option>
                                    
                                                    <option value="gillmac">Gill & MacMillan</option>
                                    
                                                    <option value="gmedia">Global Media</option>
                                    
                                                    <option value="gp">Gyan Publications</option>
                                    
                                                    <option value="hbpl">Himalaya Books Pvt. Ltd.</option>
                                    
                                                    <option value="hph">Himalaya Publishing House</option>
                                    
                                                    <option value="hb">Holiday Bookstore</option>
                                    
                                                    <option value="ibdc">Ibdc</option>
                                    
                                                    <option value="iip">Inter-India Publications</option>
                                    
                                                    <option value="jumava">Jumava</option>
                                    
                                                    <option value="jana rozes apgads">Jāņa Rozes apgāds</option>
                                    
                                                    <option value="kp">Kalpaz Publications</option>
                                    
                                                    <option value="kontinents">Kontinents</option>
                                    
                                                    <option value="lbb">Latvijas Bībeles biedrība</option>
                                    
                                                    <option value="ldp">Leeladevi Publications</option>
                                    
                                                    <option value="lkjh">lkjh</option>
                                    
                                                    <option value="mpil">macmillan publishers india limited</option>
                                    
                                                    <option value="mpst">macmillan publishing</option>
                                    
                                                    <option value="madris">Madris</option>
                                    
                                                    <option value="mmp">Managalam Prakashan</option>
                                    
                                                    <option value="mp">Mayur Publication</option>
                                    
                                                    <option value="dummy_mempub">Mem</option>
                                    
                                                    <option value="mm">Mind Melodies</option>
                                    
                                                    <option value="mjhu">mjhu</option>
                                    
                                                    <option value="moderator">Moderator</option>
                                    
                                                    <option value="mtp">Mohit Publications</option>
                                    
                                                    <option value="mps">MPS</option>
                                    
                                                    <option value="1234">mps test</option>
                                    
                                                    <option value="mpstest1">mpstest1</option>
                                    
                                                    <option value="nims">N.I.M.S</option>
                                    
                                                    <option value="ngm">National Gandhi Museum</option>
                                    
                                                    <option value="niace">National Institute of Adult Continuing Education (NIACE)</option>
                                    
                                                    <option value="np">Navyug Publications</option>
                                    
                                                    <option value="nap">New Asian Publications</option>
                                    
                                                    <option value="njf">Nyt Juridisk Forlag</option>
                                    
                                                    <option value="impuls">Oficyna Wydawnicza Impuls</option>
                                    
                                                    <option value="aks">omkar</option>
                                    
                                                    <option value="obc">Oxford Book Co.</option>
                                    
                                                    <option value="pdp">Paradise Publications</option>
                                    
                                                    <option value="pbs">Pharma Book Syndicate</option>
                                    
                                                    <option value="pbp">Prabha Publications</option>
                                    
                                                    <option value="p01">pradeep</option>
                                    
                                                    <option value="pgp">Pragati Prakashan</option>
                                    
                                                    <option value="pp">Pragun Publications</option>
                                    
                                                    <option value="petergailis">Pētergailis</option>
                                    
                                                    <option value="qwer">qwer1</option>
                                    
                                                    <option value="rsb">R. S. Books</option>
                                    
                                                    <option value="rp">Rahul Publications</option>
                                    
                                                    <option value="rjp">Rajat Publications</option>
                                    
                                                    <option value="rpp">Rajput Publications</option>
                                    
                                                    <option value="raka">RaKa</option>
                                    
                                                    <option value="rtp">Rastogi Publications</option>
                                    
                                                    <option value="rae">Readworthy And Epitome</option>
                                    
                                                    <option value="rts">revive</option>
                                    
                                                    <option value="sasp">Satish Serial Publications</option>
                                    
                                                    <option value="satp">Satya Prakashan</option>
                                    
                                                    <option value="scitp">SCI Tech Publishing</option>
                                    
                                                    <option value="sp">Shipra Publications</option>
                                    
                                                    <option value="smp">Studium Press</option>
                                    
                                                    <option value="sas">Suarup And Sons</option>
                                    
                                                    <option value="sunp">Sunrise Publishers</option>
                                    
                                                    <option value="skp">Swastik Publications</option>
                                    
                                                    <option value="spc">Swastik Publications (Chandigarh)</option>
                                    
                                                    <option value="sip">Swati Publications</option>
                                    
                                                    <option value="TP">Test Publisher</option>
                                    
                                                    <option value="jhup">The Johns Hopkins University Press</option>
                                    
                                                    <option value="tiesu namu agentura">Tiesu namu aģentūra</option>
                                    
                                                    <option value="uo1">urmi</option>
                                    
                                                    <option value="versita">versita.pl</option>
                                    
                                                    <option value="croner">Wolters Kluwer Croner business</option>
                                    
                                                    <option value="wp">Word Press</option>
                                    
                                                    <option value="wasle">World Association For Studies In Literatures In English</option>
                                    
                                                    <option value="wtbooks">World Technology</option>
                                    
                                                    <option value="ajpress">Wydawnictwo AJ- Press</option>
                                    
                                                    <option value="wahe">Wydawnictwo Akademii Humanistyczno-Ekonomicznej w Łodzi</option>
                                    
                                                    <option value="empi2">Wydawnictwo eMPi&#178;</option>
                                    
                                                    <option value="homodei">Wydawnictwo Homo Dei</option>
                                    
                                                    <option value="wkarmel">Wydawnictwo Karmelitów Bosych</option>
                                    
                                                    <option value="kastor">Wydawnictwo Kastor</option>
                                    
                                                    <option value="wuam">Wydawnictwo Naukowe Uniwersytetu im. Adama Mickiewicza</option>
                                    
                                                    <option value="wumk">Wydawnictwo Naukowe Uniwersytetu Mikołaja Kopernika</option>
                                    
                                                    <option value="placet">Wydawnictwo Placet</option>
                                    
                                                    <option value="wpk">Wydawnictwo Politechniki Krakowskiej</option>
                                    
                                                    <option value="wug">Wydawnictwo Uniwersytetu Gdańskiego</option>
                                    
                                                    <option value="zysk">Wydawnictwo Zysk i S-ka</option>
                                    
                                                    <option value="yp">Yugank Publisher</option>
                                    
                                                    <option value="zinatne">Zinātne</option></select>                                                </td>
                                              </tr>
                                              
                  
                                              <tr>
                                                <td width="200" height="25">Book 
                                                ISBN                                                </td>
                                                <td width="358" height="25"><textarea name="isbn" cols="60" class="text_field"></textarea> </td>
                                              </tr>
											  <tr>
                                                <td width="200" height="25">Chapter Identifier</td>
                                                <td height="25"><textarea name="identifier" cols="60" class="text_field"></textarea></td>
                                              </tr>
                                              
                                              <tr>
                                                <td width="200" height="25">Chapter
                                                Title</td>
                                                <td height="25"><input type="text" name="title" value="" class="text_field" />                                                </td>
                                              </tr>
                                              
                     
                                              <tr>
                                                <td width="200" height="25">Author</td>
                                                <td height="25"><table border="0" cellspacing="0" cellpadding="3">
                                                  <tr>
                                                    <td width="80" nowrap="nowrap">First Name</td>
                                                    <td><input type="text" name="authorFirstName" value="" class="text_field" /></td>
                                                    <td width="80" nowrap="nowrap">Last Name </td>
                                                    <td><input type="text" name="authorLastName" value="" class="text_field" /></td>
                                                  </tr>
                                                </table></td>
                                              </tr>
                  
                                              <tr>
											  <td width="200">Sort Order</td>
										  <td>
													<select name="orderBy" >
														<option value="">----</option>
														<option value="title">Title</option>
														<option value="publisher">Publisher Code</option>
														<option value="identifier">Chapter Identifier</option>
												</select></td>
											</tr>
                                              <tr>
                                                <td width="200">&nbsp;</td>
                                                <td><input type="submit" name="search" value="Submit" onclick="return checkDates();" class="submit_btn" />
                                                  <input type="reset" name="button" value="Reset" class="submit_btn" /></td>
                                              </tr>
									      </tbody>
                    </table>
					</form>
                  </div>									  
			    </td>
          </tr>
        </table></td>
      </tr>
      </TABLE></td>
  </tr>
    </table></td>
            <td width="10" align="right" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_right_bg.gif); background-position:right; background-repeat:repeat-y;"><img src="images/right_corn_bot.gif" width="13" height="361" /></td>
          </tr>
          <tr>
            <td width="10" height="10" align="left" valign="bottom"><img src="images/corn_left_bot.gif" width="13" height="17" /></td>
            <td height="10" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_bot_bg.gif); background-position:bottom; background-repeat:repeat-x;"><img src="images/tabl_bot_bg.gif" width="4" height="4" /></td>
            <td width="10" height="10" align="right" valign="bottom"><img src="images/corn_right_bot.gif" width="13" height="17" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" class="footer_white">
Copyright © 2006-2009 MPS Technologies Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</div>
</body>
</html>