<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%> 
  
  <div class="container-fluid">
    <div class="row">
      <div id= 'pub_book'>
        
        <!--get author-->

        <div class="container" style="padding-bottom:90px;">
  <div class="row">
    <section class="col-md-12">
      <div class="border_wrapper padding10px mtb25">
        <div id="bodydivs"> 
          <h2 class="heading1 border_bottom mb20">Author(s): </h2>
          <ul class="pagination pagination-sm nomargin">
            <% ('A'..'Z').each do |letter| %> 
            <li><%= link_to letter, get_author_homes_path(:letter=>letter)%>
            </li>
            <%end%>
          </ul>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
          <ul id="demoOne" class="description   margin_left5px">
            <%if @authors.present?%>
              <%@authors.each do |authname| %>  
                <li class="ln-R ln-r">
                  <%= link_to truncate(authname, length: 14), books_by_author_homes_path(authname) %>
                </li>
              <%end%>
            <%end%>
          </ul>   
        </div>
      </div>
    </section>
  </div>
</div>

        <!--end author-->

      </div>
    </div>
  </div>

<footer>
  <%= render :partial => "homes/publisher_footer"%>
</footer>


</section>