<html>
	<body class = "body1">
			<h1>Content History</h1>
			<h2>Please enter a valid ISBN</h2>
			<table>
				<tr>
					<td class="GBoldText">
						Export Result As :
					</td>
					<td align="right">
						<%= link_to image_tag("csv.gif"),content_history_content_conversation_index_path%>
					</td>
					<td align="right">
						<%= link_to image_tag("xls.gif"),content_history_content_conversation_index_path%>
					</td>
					<td align="right" bgcolor="#ffffff" class="GBoldText">&nbsp;&nbsp;</td>
				</tr>
			</table>
	</body>
</html>
