<html>
	<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">
<h1>Content History</h1>
<h2>Please enter a valid ISBN</h2>
<table>

	<tr>
	
		<TD class="GBoldText">
			Export Result As :
		</TD>
		<TD align="right">
			<img src="images/csv.gif" onclick="downloadContentResult('CSV', 0 ,0,1000,0);" title="CSV" style="cursor:pointer;cursor:hand" />
		</TD>
		<TD align="right">
			<img src="xls.gif" onclick="downloadContentResult('XLS', 0 ,0,1000,0);" title="XLS" style="cursor:pointer;cursor:hand" />
		</TD>
		<!--TD align="right">
			<img src="images/pdf.gif" onclick="downloadContentResult('PDF', 0 ,0,1000,0);" title="PDF" style="cursor:pointer;cursor:hand" />
		</TD-->
	</tr>
			
		
</table>															  </TD>
																<TD align="right" bgcolor="#ffffff" class="GBoldText">&nbsp;&nbsp;</TD>
															</tr>
													 	</table></td>
                                    </tr>
									
									<TR>
										<TD height="10" class="pagenumber"></TD>
									</TR>
									<TR>
										<TD>
										  <table border="0" cellspacing="0" cellpadding="3">
                                            <tr>
                                             <TD>ISBN</TD>
									    <TD><input name="isbn" type="text" size="20" class="text_field" /></TD>
									    <TD><input type="submit" name="submit" value="Submit" class="submit_btn" /></TD>
                                            </tr>
                                          </table></TD>
								    </TR>
									
									
							  <span>
											Please enter a valid ISBN
							  </span>
									
								<tr><td></TBODY>
	  </TABLE></td>
  </tr>
  </table>
</form>
</td>
            <td width="10" align="right" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_right_bg.gif); background-position:right; background-repeat:repeat-y;"><img src="images/right_corn_bot.gif" width="13" height="361" /></td>
          </tr>
          <tr>
            <td width="10" height="10" align="left" valign="bottom"><img src="images/corn_left_bot.gif" width="13" height="17" /></td>
            <td height="10" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_bot_bg.gif); background-position:bottom; background-repeat:repeat-x;"><img src="images/tabl_bot_bg.gif" width="4" height="4" /></td>
            <td width="10" height="10" align="right" valign="bottom"><img src="images/corn_right_bot.gif" width="13" height="17" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" class="footer_white">
Copyright © 2006-2009 MPS Technologies Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</div>
</body>
</html>