<html>
	<body class = "body1">
		<%= render :partial => '/layouts/header'%>
		<div class="div1">

			<h1> QA Check </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
 					<%= form_for :journal do |f| %>
            <tr>
              <td>Please select a Publisher:</td>
              <td><%= collection_select(:PUB_PUBLISHER_ID, 0, Publisher.all, :id, :publisher_name) %></td>
            </tr> 
            <tr>
            	<td></td>
	            <td><%= f.submit "Submit" %></td>
          	</tr>
          <% end %>
        </tbody>
      </table>
    </div>
	</body>
</html>
