<div class="table-responsive">
    <tr class="content_head">
      <th><input type="checkbox" name="select-all" id="select-all" /></th>
      <th>License Name</th>
      <th>License Type</th>
      <th>License Id</th>
    </tr>
    <% if @license_content.present? %>
      <% @license_content.each do |lic_group| %>
        <tr class="content_value">
          <td>
            <input type="checkbox" name="checkbox" id="chk" />
          </td>
          <td>
            <%= lic_group.license_name %>
          </td>
          <td>
            <%= lic_group.license_type %>
          </td>
          <td>
            <%= lic_group.license_id %>  
          </td>
        </tr>
      <% end %>
      <tr>
      <td><div class="col-md-12 text-right"><button type="submit" class="btn btn-sm" onclick="getAddDetails();" id="submit_btn" ><i class="fa fa-object-group" aria-hidden="true"></i> &nbsp;Add</button></div></td>
    </tr>
    <%else%>
      No Record Found
    <%end%>
</div>
<script>
  $('#select-all').click(function(event) {   
    if(this.checked) {
      // Iterate each checkbox 
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
    } else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  }
  });
  
  function getAddDetails(){   
   var srcrow = $('.content_value').has('input:checked');
   console.log(srcrow)
    var lastRow = srcrow.clone();
    lastRow.each(function(index, row){
      $(row).find('checked').each(function(idx, el){
          var el = $(el);
          el.val(srcrow.eq(index).find('select').eq(idx).val())
      });
    });
    $(".content_head").each(function(i, el) {
      $(this).closest('.content_head').clone().removeClass('content_head').addClass('clone_content_head').insertBefore(".content_value:first");
    });
    $('.clone_content_head').find('td:last').after('<td class="tableheader">Delete</td>');
    var cloned =lastRow.closest('.content_value').clone().removeClass('content_value').addClass('clone_content_value').insertAfter(".clone_content_head:last");
    var arr = []
    lastRow.closest('.content_value').find("td:last").each(function(){
      arr.push($(this).text())
    });

    $('#role_ids').val(arr)
    $('.clone_content_value').find('td:last').after('<td class = "del"><%= image_tag("delete_icon.gif")%></td>');
    $(':checkbox').each(function() {
      $('#select-all').remove();
      $("#chk").remove(); 
      $("#submit_btn").remove()                      
    });
           $('.content_value').remove();
   $('.content_head').remove();
   $('.submit_btn1').show();
    
   $('.del').on('click',function(){
    $(this).parent().remove();
    arr.pop($(this).text())
      $('#role_ids').val(arr)
   });




   }
</script>
