<div class="col-md-12">
  <h3 class="H2-L1"> Licenses</h3>   
</div>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">Publisher<sup class="mandatory">*</sup></label>
  <div class="col-sm-7">
    <%= select_tag 'publisher_id',options_from_collection_for_select(Publisher.all, 'id', 'publisher_name'),:prompt => "select publisher",:class => "form-control", :id=> "publisher_id"%>
  </div>
</div></div>
  
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">License ID</label>
  <div class="col-sm-7">
    <input id="lic_id" class="form-control"/>
  </div>
  <div class="clearfix"></div>
</div></div>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">License Name</label>
  <div class="col-sm-7">
    <input id="lic_name" class="form-control"/>
  </div>
  <div class="clearfix"></div>
</div></div>
<div class="col-md-6">
  <div class="form-group">
    <label for="bookISBN" class="col-sm-5 control-label">License Type</label>
    <div class="col-sm-7">
     <%= select_tag 'license_for_sale',options_for_select([['Select',''], ['Relative Date Range',:relative_date_range], ['downloadable',:downloadable],['Fixed Date Range',:fixed_date_range]]), :class => "form-control" %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">Content Identifier</label>
  <div class="col-sm-7">
    <input id="isbn" class="form-control"/>
  </div>
  <div class="clearfix"></div>
</div></div>
<div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">         
  <br>
  <button type="submit" class="btn btn-sm" id="submit_btn" onclick="getSearchDetails();"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search</button>
</div>
<script type="text/javascript">
  function getSearchDetails(){
    var publisher_id = $('#publisher_id option:selected').val();
    var license_type = $('select#lic_type option:selected').val();
    var license_name = $('#lic_name').val();
    var license_id = $('#lic_id').val();
    var isbn = $('#isbn').val();
    $.ajax({
      type: 'GET',
      url: '/license_groups/content_search',
      data : { publisher_id: publisher_id,license_type: license_type, license_name: license_name,license_id: license_id,isbn: isbn }
    });
  }
</script>
