<tr>
 <td height = "25" colspan="5" > 
  <p class="sub_head">Licenses <span class="mandtory">*</span>
  </p>
 </tr>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">Publisher<sup class="mandatory">*</sup></label>
    <%= select_tag 'publisher_id',options_from_collection_for_select(Publisher.all, 'id', 'publisher_name'),:prompt => "select publisher",:class => "form-control", :id=> "publisher_id"%>
  </td>
</tr>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">License ID</label>
  <div class="col-sm-7">
    <input id="lic_id" class="form-control"/>
  </div>
</div></div>
<div class="col-md-6"><div class="form-group">
  <label for="License" class="col-sm-5 control-label">License Name</label>
  <div class="col-sm-7">
    <input id="lic_name" class="form-control"/>
  </div>
</div></div>
<tr>
  <td >License Type <span class="mandtory">*</span></td>
  <td><select id="lic_type">
    <option value="" selected>Select</option>
    <option value="relative">Relative Date Range</option>
    <option value="downloadable">Downloadable Content</option>
    <option value="fixed_date_range">Fixed Date Range</option>
  </select></td>
  <td>
    Content Identifier
    <span class = "mandtory ">*</span>
  </td>
  <td>
    <input id="isbn" class="text_field"/>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="button" name="button2" id="button" value="Search" onclick="getSearchDetails();" class="submit_btn" /></td>
</tr>

<script type="text/javascript">
  function getSearchDetails(){
    var publisher_id = $('#publisher_id option:selected').val();
    var license_type = $('select#lic_type option:selected').val();
    var license_name = $('#lic_name').val();
    var license_id = $('#lic_id').val();
    var isbn = $('#isbn').val();
    $.ajax({
      type: 'GET',
      url: '/license_groups/content_search',
      data : { publisher_id: publisher_id,license_type: license_type, license_name: license_name,license_id: license_id,isbn: isbn }
    });
  }
</script>