<% if @publisher.domain_name == "syrawoodpublishinghouse" %>
  <div class="container" style="padding-bottom:90px;">
    <div class="row">
    	<div class="col-md-12">
    		<div class="border_wrapper padding10px mtb25">
					<h2 class="heading1 border_bottom mb20">ABOUT US</h2>
	      	<div class="clearfix"></div>
					<% if @publisher_about.present? %>
						<p class="mt20"><%= @publisher_about.html_safe %></p>
					<%end%>
	    	</div>
			</div>
  	</div>
	</div>
<% else %>
	<div class="row"> 
		<div class="col-sm-12">
			<div class="border_wrapper padding10px mt5">
				<h1 class="heading1 sectionHeading border_bottom ">About Us</h1>
				<div class="clearfix"></div>
				<% if @publisher_about.present? %>
					<p class="mt20"><%= @publisher_about.html_safe %></p>
				<%end%>
			</div>
		</div>
	</div>
<% end %>