<% if @publisher.domain_name == "larsen-keller" %>
	<div class="container">
		<h1 class="heading1 border_bottom ">About Us</h1>
		<% if @publisher_about.present? %>
			<%= @publisher_about.html_safe %>
		<% end %>
	</div>
<% else %>
	<h1 class="heading1 border_bottom ">About Us</h1>
	<div class="clearfix"></div>
	<% if @publisher_about.present? %>
		<p class="mt20"><%= @publisher_about.html_safe %></p>
	<%end%>
<% end %>
 