
<div class="border_wrapper padding10px">
<div class="row ">
<div class="col-sm-12 ">
   <h1 class="text_uppercase border_bottom padding_bottom12px">
      Author(s):
   </h1>
</div>
<div class="col-md-12 col-xs-12 ">
   <div class="text_uppercase border_bottom padding_bottom12px">
      <div class="col-sm-12 no-pad">
         <div class="ln-letters">
            <ul class="pagination pagination-sm nomargin">
               <% ('A'..'Z').each do |letter| %> 
               <li><%= link_to letter, get_author_homes_path(:letter=>letter)%>
               </li>
               <%end%>
            </ul>
            <div class="clearfix ln-last"></div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>
<div class="col-md-12   mt-20">
   <ul id="demoOne" class="description ">
      <%if @books.present?%>
      <%@books.each do |book| %>	
      <li class="ln-R ln-r">
         <%= link_to truncate(book.books_contributor.first_name+" "+book.books_contributor.last_name, length: 14), books_by_author_homes_path(:first_name => book.books_contributor.first_name,:last_name => book.books_contributor.last_name), :remote => true %>
      </li>
      <%end%>
      <%end%>
   </ul>
</div>
<div class="col-md-12 mt20">
   <div class="pull-right">
      <div class="pagination-frontend">
         <nav aria-label="Page navigation" style="clear:both;"> 
            <%= will_paginate @books,renderer: BootstrapPagination::Rails %>
         </nav>
      </div>
   </div>
   <div class="clearfix"></div>
</div>