<div class="border_wrapper height100 padding10px">
   <%= pdfjs_viewer pdf_url: "/static/#{@publisher.publisher_code}/ebooks/#{@book_information.isbn}/#{@book_information.isbn}.pdf", style: :full %>

</div>
