<h1 class="sectionHeading">Books By Author</h1>
<div class="row placeholders">
<div class="clearfix"></div>
	<ul class="pagination">
	  <%("A".."Z").each do |letter| %> 
	  <li><%= link_to letter, books_by_author_homes_path(:letter=>letter)%></li>
	  <%end%>
	</ul>
	<div class="clearfix m-b-30"></div>
		<%@books.each do |book| %>
		  <div class="form-group">
		    <div class="col-sm-2 text-center">
		      <%= image_tag book.logo.url(:original) , :class => "imgPopover"%><br>
		        <p><%= link_to truncate(book.book_title, length: 10), books_description_homes_path(:book_id => book.id), :remote => true %></p>
		    </div>
		  </div>
		<%end%>
	</div>
</div>