<div class="container wrapper">
 	<footer >
    <div class="row mobTextCenter">
    	<div class="col-md-12">
    		<p class="pull-left mobfooter">
    		<%= link_to "Terms & Conditions",terms_and_conditions_homes_path, class: "border_left0px" %> | <%= link_to "Privacy Policy", policy_homes_path %></p>
    		<p class=" pull-right mobfooter">&copy; 2017 <%= @publisher.publisher_name%>. All right reserved &nbsp;&nbsp;</p>
    	</div>
    </div>
	</footer>  
	<div class="clearfix"></div>
</div>