<div class="footer margin_top5px">
	<div class="navbar">
	  <div class="menu_bg navbar-inner no_padding_margin">
			<ul class="footer menu">
			  <li class="active">
			  	<%= link_to "Terms & Conditions",terms_and_conditions_homes_path, class: "border_left0px" %>
			  </li>
			  <li>
			  	<%= link_to "Privacy Policy", policy_homes_path %>
			  </li>
			  <li class="float-right search">
			    &copy; 2017 <%= @publisher.publisher_name%>. All right reserved &nbsp;&nbsp; 
			  </li>
			</ul>
	  </div>
	</div>
</div>