<h1 class="sectionHeading">Privacy Policy</h1>
<div class="row placeholders">
	<% if @publisher_policy.present? %>
	  <div class="wrapper container-fluid">
	    <%= @publisher_policy %>
	  </div>
	<%end%>
</div>