<% if @publisher.domain_name == "mlbooksinternational" %>
	
	      <div class="border_wrapper padding10px mt5">
	        <h1 class="heading1 border_bottom "> Privacy Policy </h1>
	        <div class="clearfix"></div>
	        <p class="mt20">
	        	<% if @publisher_policy.present? %>
						  <div class="wrapper container-fluid">
						    <%= @publisher_policy.html_safe %>
						  </div>
						<%end%>
					</p>
	      </div>
	   

<% elsif @publisher.domain_name == "syrawoodpublishinghouse" 	 %>
  <div class="container" style="padding-bottom:90px;">
	  <div class="row">
	    <div class="col-md-12">
	    	<div class="border_wrapper padding10px mtb25">
	    	<h2 class="heading1 border_bottom mb20">Privacy Policy</h2>
	      <div class="termcondition">
	      	<% if @publisher_policy.present? %>
	 					<p class="mt20"><%= @publisher_policy.html_safe %></p>
					<%end%>
				</div>
		</div>
	    </div>
  	</div>
	</div>
	
<% else %>
	<h1 class="sectionHeading">Privacy Policy</h1>
	<div class="row placeholders">
		<% if @publisher_policy.present? %>
		  <div class="wrapper container-fluid">
		    <%= @publisher_policy.html_safe%>
		  </div>
		<%end%>
	</div>
<% end %>