 <div class="row" id="searchResultGrid">
  <div class="col-md-12">
    <div class="table-responsive">
			<% if @result.present?   %>
				<% @result.each do |f| %>
					<div class="col-md-6">
		        <div class="form-group" style="width:300px; height:300px;">
		          <span class="col-sm-8">
		           <%= image_tag f.logo.url(:thumb)%>
		          </span>
		          <span class="col-sm-8">
		           <%= f.book_title %>
		          </span>
		          <div class="clearfix"></div>
		        </div>
		      </div>
				<% end %>
			<% else %>
				Your search did not return any match. Please try different search terms or make sure all words are spelled correctly. 
 			<% end %>
		</div>
	</div>
	<div class="col-sm-12"> </div>
</div>