 <% if @gethost == "wutheringink.com" %>
	<footer class="footer">
		<ul>
      <li ><a> Terms &amp; Conditions </a></li>
      <li><a>Privacy Policy</a></li>
      <li class="float-right search"> © 2013-2014 World Technologies. All right reserved &nbsp;&nbsp; </li>
     </ul>
	</footer>
<% else %>
	<footer class="footer">
		© 2011-2012 MPS LTD. All rights reserved 
	</footer>
<% end %>
