<% if @books.present? %>
  <% @books.each do |f| %>
    <div class="col-xs-6 col-sm-3  col-md-2 placeholder">
      <%= image_tag(f.logo.url(:thumb), height: '178', width: '126')%>
      <%= link_to truncate(f.book_title, length: 10), books_description_homes_path(:book_id => f.id), :remote => true %>
      <div class="clearfix"></div>
    </div>
  <%end%>
  <div class="pagination-frontend">
    <nav aria-label="Page navigation" style="clear:both;"> 
      <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
    </nav>  
  </div>
  <div class="clearfix"></div>
<% end %>
<div style="clear:both;"></div>
