 <% if @gethost == "wtbooks.com" %>
	<footer class="footer">
	<ul>
    <li><%= link_to "Terms & Conditions", terms_and_conditions_homes_path %></li>
    <li><%= link_to "Privacy Policy", policy_homes_path %></li>
    <li class="float-right search"> © 2013-2014 World Technologies. All right reserved &nbsp;&nbsp; </li>
   </ul>
	</footer>
<% else %>
	<footer class="footer">
		<ul>
    <li><%= link_to "Terms & Conditions", terms_and_conditions_homes_path %></li>
    <li><%= link_to "Privacy Policy", policy_homes_path %></li>
    <li class="float-right search">© 2011-2012 MPS LTD. All rights reserved &nbsp;&nbsp; </li>
   </ul>
		
	</footer>
<% end %>
