<div class="container" style="padding-bottom:90px;">
 	<div class="row">
    <section class="col-md-12">
      <div class="border_wrapper padding10px mtb25">
        <div id="bodydivs"> 
          <h2 class="heading1 border_bottom mb20">Author(s): </h2>
          <ul class="pagination pagination-sm nomargin">
            <% ('A'..'Z').each do |letter| %> 
            <li><%= link_to letter, get_author_homes_path(:letter=>letter)%>
            </li>
            <%end%>
          </ul>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
          <ul id="demoOne" class="description   margin_left5px">
            <%if @books.present?%>
              <%@books.each do |book| %>  
                <li class="ln-R ln-r">
                  <%= link_to truncate(book.books_contributor.first_name+" "+book.books_contributor.last_name, length: 14), books_by_author_homes_path(:first_name => book.books_contributor.first_name,:last_name => book.books_contributor.last_name), :remote => true %>
                </li>
              <%end%>
            <%end%>
          </ul>   
        </div>
      </div>
    </section>
  </div>
</div>