<% if @publisher.domain_name == "mlbooksinternational" %>
	<div class="container" >
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="border_wrapper padding10px mt5">
	        <h1 class="heading1 border_bottom ">TERMS & CONDITIONS</h1>
	        <div class="clearfix"></div>
	        <div class="mt20" id="tcHead">
	          <p>
	          	<%if @publisher_terms.present? %>
							  <div class="wrapper container-fluid">
							    <%= @publisher_terms %>
							  </div>
							<%end%>
	          </p>
	          <div class="clearfix"> </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
<% elsif @publisher.domain_name == "syrawoodpublishinghouse" 	 %>
  <div class="container" style="padding-bottom:90px;">
	  <div class="row">
	    <div class="col-md-12 mt30">
	    	<h2 class="heading1 border_bottom mb20">TERMS & CONDITIONS </h2>
	      <div class="termcondition">
	      	<% if @publisher_terms.present? %>
	 					<p class="mt20"><%= @publisher_terms %></p>
					<%end%>
				</div>
	    </div>
  	</div>
	</div>
	
<% else %>
	<h1 class="sectionHeading">Terms & Conditions</h1>
	<div class="row placeholders">
		<%if @publisher_terms.present? %>
		  <div class="wrapper container-fluid">
		    <%= @publisher_terms %>
		  </div>
		<%end%>
	</div>
<% end %>

