<footer class="footer text-center">
	<div class="container-fluid">
 	  <div class="row">
    	<div class="col-xs-12 col-sm-6 col-md-6 footer_text text-left">
    		<%= link_to "Terms & Conditions",terms_and_conditions_homes_path %> | 
    		<%= link_to "Privacy Policy", policy_homes_path %> |
    		<%= link_to "Help & Faq", "http://ebooks.wtbooks.com/static/templates/template1/wtbooks/help/en/index.htm", target: "_blank" %> 
			</div>
      <div class="col-xs-12 col-sm-6 col-md-6 footer_text text-right">&copy; 2013-2014 <%= @publisher.publisher_name%>. All right reserved.</div>
    </div>
  </div>
</footer>