<!doctype html>
<html>
<head>
<title>Content Store :: Books </title>
 </head>
<body>
<!--Main Content Start -->
	<section class="content">
		<%= render :partial => "header"%> 
	  <%= render :partial => "side_bar"%>
	  <div class="wrapper container-fluid">
      <div class="clearfix"></div>
		  <% if @books.present? %>
		  	<% @books.each do |f| %>
					<div class="col-md-2">
		          <%= image_tag(f.logo.url(:thumb), height: '178', width: '126')%>
		          <div class="mt10 frontend-table-demo">
						    <%= link_to truncate(f.book_title, length: 10), books_description_homes_path(f.id)%> </div>
			          <div class="clearfix"></div>
			      </div>
					<% end %>
			<% else %>
				Records Not Found 
			<% end %>
		</div>
	</section>
</body>