<!doctype html>
<html>
<head>
<title>Content Store :: Books </title>
 </head>
<body>
  <%= render :partial => "homes/side_bar"%>
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
        <li><a href="#">Books</a></li>
      </ol>
      <div class="clearfix m-b-30"></div>
      	<%@books_by_subject_group.each do |book| %>
	        <div class="form-group">
	          <div class="col-sm-2 text-center">
	          	<%= image_tag book.books_primary_content_information.logo.url(:original) , :class => "imgPopover"%><br>
	              <p><%= book.books_primary_content_information.book_title%></p>
	          </div>
        	</div>
        <%end%>
      </div>
    </div>
</body>