
<!--Main Content Start -->
  <section class="content">
    <%= render :partial => "header"%>
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-sm-4 col-md-3 ">
          <%= render :partial => "side_bar"%>
        </div>
        <div class="col-sm-8 col-md-9">
          <div id= 'pub_book'>
            <%= render :partial => 'publisher_book' %>
          </div>
        </div>
         
      </div>

    </div>

    <!-- Page Content Start --> 
    <!-- ================== -->
    
      
      
      <div class="clearfix m-b-30"></div>
      <!-- <h2 class="H2-L1">Publisher's Books</h2> -->
    </div>
    
   
  </section>
<!-- Footer Start -->
    <%= render :partial => "homes/publisher_footer"%>
    <!-- Footer Ends --> 

