<div class="col-md-12">
  <div class="mt10 table-demo"> Search Result 
    <span class="pull-right">
      <div class="dropdown">
        <ul class="nav">
          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <ul class="dropdown-menu-right">
              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
              <li><a href="#"> <i class="fa fa-file-word-o" aria-hidden="true"></i> Word</a></li>
              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </span> 
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr style="font-size:13px" class="content_head">
          <th><input type="checkbox" name="select-all" id="select-all" /></th>
          <th>Subject Group Name  </th>
          <th> Subject Group Code </th>
          <th>Subject Group ID </th>
        </tr>
      </thead>
      <% if @subject_group_search.present? %>
        <% @subject_group_search.each do |sub_group| %>
          <tbody>
            <tr class="content_value">
              <td><input type="checkbox" name="checkbox" id="chk" /></td>
              <td><%= sub_group.subject_group_name %></td>
              <td><%= sub_group.subject_group_code %></td>
              <td><%= sub_group.id %></td>
            </tr>
          </tbody>
        <% end %>
        <div class="col-md-12 text-right">
          <input type="button" value="add" onclick="getAddDetails();" class="btn btn-sm" />
        </div>
      <%else%>
        No Record Found
      <%end%>
    </table>
  </div>
</div>

<script>
  $('#select-all').click(function(event) {   
    if(this.checked) {
      // Iterate each checkbox 
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
    } else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  }
  });
  
  function getAddDetails(){   
   var srcrow = $('.content_value').has('input:checked');
   console.log(srcrow)
    var lastRow = srcrow.clone();
    lastRow.each(function(index, row){
      $(row).find('checked').each(function(idx, el){
          var el = $(el);
          el.val(srcrow.eq(index).find('select').eq(idx).val())
      });
    });
    $(".content_head").each(function(i, el) {
      $(this).closest('.content_head').clone().removeClass('content_head').addClass('clone_content_head').insertBefore(".content_value:first");
    });
    $('.clone_content_head').find('td:last').after('<td class="tableheader">Delete</td>');
    var cloned =lastRow.closest('.content_value').clone().removeClass('content_value').addClass('clone_content_value').insertAfter(".clone_content_head:last");
    var arr = []
    lastRow.closest('.content_value').find("td:last").each(function(){
      arr.push($(this).text())
    });

    $('#role_ids').val(arr)
    $('.clone_content_value').find('td:last').after('<td class = "del"><%= image_tag("delete_icon.gif")%></td>');
    $(':checkbox').each(function() {
      $('#select-all').remove();
      $("#chk").remove(); 
      $(".btn btn-sm").remove()                      
    });
           $('.content_value').remove();
   $('.content_head').remove();
   $('.btn btn-sm').show();
    
   $('.del').on('click',function(){
    $(this).parent().remove();
    arr.pop($(this).text())
      $('#role_ids').val(arr)
   });
   }
</script>
