<tr class="content_as">
  <td class="tableheader"><input type="checkbox" name="select-all" id="select-all" /></td>
  <td class="tableheader">Subject Group Name</td>
  <td class="tableheader">Subject Group Code</td>
  <td class="tableheader">Subject Group Level</td>
</tr>
<% if @subject_group_search.present? %>
  <% @subject_group_search.each do |sub_group| %>
    <tr class="current_location">
      <td bgcolor="#FBFBFB">
        <input type="checkbox" name="checkbox" id="chk" />
      </td>
      <td bgcolor="#FBFBFB">
        <%= sub_group.subject_group_name %>
      </td>
      <td bgcolor="#FBFBFB">
        <%= sub_group.subject_group_code %>
      </td>
      <td bgcolor="#FBFBFB">
        <%= sub_group.subject_group_level %>
      </td>
    </tr>
  <% end %>
  <tr>
  <td>&nbsp;</td>
  <td><input type="button" id="button" value="add" onclick="getAddDetails();" class="submit_btn" /></td>
</tr>
<%else%>
  No Record Found
<%end%>
<script>
  $('#select-all').click(function(event) {   
    if(this.checked) {
      // Iterate each checkbox 
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
    } else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  }

  });

  function getAddDetails(){
   var srcrow = $('.current_location').has('input:checked');
    var lastRow = srcrow.clone();
    lastRow.each(function(index, row){
      alert($(row).find('checked'));
      $(row).find('checked').each(function(idx, el){
        alert(idx.val());
          var el = $(el);
          el.val(srcrow.eq(index).find('select').eq(idx).val())
      });
    })
    $('.current_location').append(lastRow);
  }
</script>
