<div class="col-md-5">
  <div class="form-group">
    <label for="License" class="col-sm-5 control-label">Subject Group Name</label>
    <div class="col-sm-6">
      <input id="subject_group_name" class="form-control" placeholder="Subject Group Name">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-md-5">
  <div class="form-group">
    <label for="License" class="col-sm-5 control-label">Subject Group Code</label>
    <div class="col-sm-6">
      <input id="subject_group_code" class="form-control" placeholder="Subject Group Code">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-md-2">
  <input type="button" name="button2" id="button" value="Search" onclick="getSearchDetails1();" class="btn btn-sm" />
</div>
<script type="text/javascript">
  function getSearchDetails1(){
    var subject_group_name = $('#subject_group_name').val();
    var subject_group_code = $('#subject_group_code').val();
    $.ajax({
      type: 'GET',
      url: '/subscriptions/subject_group_search',
      data : { subject_group_name: subject_group_name,subject_group_code: subject_group_code }
    });
  }
</script>