<div class="row">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result 
      <span class="pull-right">
        <div class="dropdown">
          <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Subscription Name</th>
            <th>Subscription ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if @subscription.present? %>
	      		<% @subscription.each do |f| %>
              <tr>
                <td><%= f.subscription_name %></td>
                <td><%= f.id %></td>
                <td><%= link_to("Edit ", edit_subject_path(f.id), :class => "btn btn-sm", :method => :get) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td bgcolor="#FBFBFB">
                <p> Record Not Found </p> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>