<div class="col-md-12">
  <div class="form-bg">
    <div class="col-md-5">
      <label>Subject Group Name</label>
      <input id="subject_group_name" type="text" placeholder="Subject Group Name" class="form-control">
    </div>
    <div class="col-md-5">
      <label>Subject Group Code</label>
      <input id="subject_group_code" type="text" placeholder="Subject Group Code" class="form-control">
    </div>
    <div class="col-md-2">
      <label> &nbsp;</label>
      <input type="button" name="button2" id="button" value="Search" onclick="getSearchDetails1();" class="btn btn-sm" />
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<script type="text/javascript">
  function getSearchDetails1(){
    var subject_group_name = $('#subject_group_name').val();
    var subject_group_code = $('#subject_group_code').val();
    $.ajax({
      type: 'GET',
      url: '/subscriptions/subject_group_search',
      data : { subject_group_name: subject_group_name,subject_group_code: subject_group_code }
    });
  }
</script>