<tr>
  <td>
    ISBN
    <span class = "mandtory ">*</span>
  </td>
  <td>
    <input id="isbn" class="text_field"/>
  </td>
  <td>
    Title
    <span class = "mandtory">*</span>
  </td>
  <td>
    <input id="title" class="text_field"/>
  </td>
</tr>
<tr>
  <td>
    Author First Name
    <span class = "mandtory ">*</span>
  </td>
  <td>
    <input id="author_first_name" class="text_field"/>
  </td>
  <td>
    Author Last Name
    <span class = "mandtory">*</span>
  </td>
  <td>
    <input id="author_last_name" class="text_field"/>
  </td>
</tr>
<tr>
  <td>
    Publication Year
    <span class = "mandtory ">*</span>
  </td>
  <td>
    <input id="publication_year" class="text_field"/>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="button" name="button2" id="button" value="Search" onclick="getSearchDetailsTitle();" class="submit_btn" /></td>
</tr>

<script type="text/javascript">
  function getSearchDetailsTitle(){
    var isbn = $('#isbn').val();
    var title = $('#title').val();
    var author_first_name = $('#author_first_name').val();
    var author_last_name = $('#author_last_name').val();
    var publication_year = $('#publication_year').val();
    $.ajax({
      type: 'GET',
      url: '/subscriptions/result_title',
      data : { isbn: isbn,title: title, author_first_name: author_first_name,author_last_name: author_last_name,publication_year: publication_year }
    });
  }
</script>