<div class="col-md-12">
  <div class="col-md-6">
    <label for="">ISBN</label>
    <input id="isbn" type="text" placeholder="ISBN" class="form-control" >
  </div>
  <div class="col-md-6">
    <label for="">Title</label>
    <input id="title" type="text" placeholder="Title" class="form-control" >
  </div>
  <div class="col-md-6">
    <label for="">File Name</label>
    <input id="file_name" type="text" placeholder="File Name" class="form-control" >
  </div>
  <div class="col-md-6">
    <label for="">Publication Year</label>
    <input id="publication_year" type="text" placeholder="Publication Year" class="form-control" >
  </div>
  <div class="col-md-12">
    <br>
    <input type="button" name="button2" id="button" value="Search" onclick="getSearchDetails();" class="btn btn-sm" />
  </div>
</div>

<script type="text/javascript">
  function getSearchDetails(){

    var isbn = $('#isbn').val();
    var title = $('#title').val();
    var file_name = $('#file_name').val();
    // var author_first_name = $('#author_first_name').val();
    // var author_last_name = $('#author_last_name').val();
    var publication_year = $('#publication_year').val();
    $.ajax({
      type: 'GET',
      url: '/subscriptions/title_search',
      data : { isbn: isbn, title: title, file_name: file_name, publication_year: publication_year },
     
      
    });
  }
</script>