<tr class="content_head">
  <th><input type="checkbox" name="select-all" id="select-all" /></th>
  <th>Title</th>
  <th>Content Identifier</th>
  <th>Status</th>
</tr>
<% if @title.present? %>
  <% @title.each do |title_group| %>
    <tr class="content_value">
      <td>
        <input type="checkbox" name="checkbox" id="chk" />
      </td>
      <td>
        <%= title_group.title %>
      </td>
      <td>
        <%= title_group.isbn %>
      </td>
      <td>
        <%= title_group.language %>  
      </td>
    </tr>
  <% end %>
  <tr>
  <td>&nbsp;</td>
  <td><input type="button" value="add" onclick="getAddDetails();" class="submit_btn" /></td>
</tr>
<%else%>
  No Record Found
<%end%>
<script>
  $('#select-all').click(function(event) {   
    if(this.checked) {
      // Iterate each checkbox 
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
    } else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  }
  });
  
  function getAddDetails(){   
   var srcrow = $('.content_value').has('input:checked');
   console.log(srcrow)
    var lastRow = srcrow.clone();
    lastRow.each(function(index, row){
      $(row).find('checked').each(function(idx, el){
          var el = $(el);
          el.val(srcrow.eq(index).find('select').eq(idx).val())
      });
    });
    $(".content_head").each(function(i, el) {
      $(this).closest('.content_head').clone().removeClass('content_head').addClass('clone_content_head').insertBefore(".content_value:first");
    });
    $('.clone_content_head').find('td:last').after('<td class="tableheader">Delete</td>');
    var cloned =lastRow.closest('.content_value').clone().removeClass('content_value').addClass('clone_content_value').insertAfter(".clone_content_head:last");
    var arr = []
    lastRow.closest('.content_value').find("td:last").each(function(){
      arr.push($(this).text())
    });

    $('#role_ids').val(arr)
    $('.clone_content_value').find('td:last').after('<td class = "del"><%= image_tag("delete_icon.gif")%></td>');
    $(':checkbox').each(function() {
      $('#select-all').remove();
      $("#chk").remove(); 
      $(".submit_btn").remove()                      
    });
           $('.content_value').remove();
   $('.content_head').remove();
   $('.submit_btn1').show();
    
   $('.del').on('click',function(){
    $(this).parent().remove();
    arr.pop($(this).text())
      $('#role_ids').val(arr)
   });
   }
</script>
