@import "bootstrap";
@import "bootstrap-sprockets";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

/*== mystyle.css==*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding:0px;
  margin:0;
  color: #6d6c6c;
     font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:#333;
}
a {
    color: #08c;
    text-decoration: none; 
}
a:hover {
    color: #000;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans ', sans-serif; text-rendering: optimizelegibility;}
p{margin:0;padding:0;font-weight:400;line-height:22px;margin-bottom:10px;}
 .heading1{color: #676767; font-size: 20px; font-weight: 300;  min-height: 15px;margin:10px 0 0 0;    padding: 0 0 10px 0; word-spacing: 4px;}
 .heading2{color: #676767; font-weight: 600; font-size: 20px; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 10px;word-spacing: 4px;}
.border_bottom {
    border-bottom: 1px solid #d7dadb;
    width: 100%;
    /* float: left; */
    display: block;
}
.nopadding{padding:0;}
.nomargin{margin:0;}
.mtb25{margin-top:25px;margin-bottom:25px;}
.textBlur{color:#005daa;}
 .border_wrapper {border: 1px solid #d7dadb;margin-bottom: 60px;}

.mt30{margin-top:30px;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.pb10{padding-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
 .padding10px{padding:10px;}
 header{ width:100%;float:left;}
 .nav{ background-color:#3F3F3F;}
 .navbar-default .navbar-nav > li > a{color:#fff;font-weight:500; font-size:16px; text-transform: uppercase;}
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{background-color:#f8d35e;color:#fff;}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color:#004747;color:#fff;}
 .topmenue{
    padding: 15px 0px;
    padding-top: 0px;
  float:right;
}
.topmenue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topmenue ul li {
    display: inline;
}
.topmenue ul li a {
    font-size: 10px;
    font-weight: bold !important;
    color: black!important;
}
.right-header{padding-right: 20px;width:50%;}
.topmenue ul li span{margin: 0px 7px;}
.searchField{width:175px;}


 
footer{background:#3F3F3F;width:100%;float:left;font-size:14px;padding:5px 0; margin-top:20px;     position: fixed; bottom: 0px;}
footer p {margin:0;padding:0;color:#fff;}
footer a{color:#fff;}
 footer a:hover{color:#fff; text-decoration:underline;}
 

.alpha_category h3 {font-size: 12px; cursor:pointer;}
.alpha_category .pagination{margin:5px 0;}
.margin_bottom10px { margin-bottom: 10px;}
.pageNumber p{margin:10px 0 0 0;padding:0;}
.im_width {float: left; margin-bottom: 20px;width: 100%;}
.margin_top20px { margin-top: 20px;}
 .im_width a img { max-width: 100%;}
.im_width h3 {  font-size: 16px;margin:0 0 10px 0;padding:0;font-weight:300;}
.dark_yellow{   color: #ba8300;}

 
ul.description { list-style-position: inside;margin:0;padding:0;}
ul.description li {
    border-bottom-color: #efefef;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style-type: square;
    margin-bottom: 0;
    /* margin-left: 9px; */
    /* margin-right: 9px; */
    margin-top: 0;
    padding-bottom: 4px;
    /* padding-left: 10px; */
    /* padding-right: 6px; */
    padding-top: 3px;
}
.display_none{display:none;}
.ul.description li:last-child{border-bottom:0;}
.red{color:#ff0000;}
.termcondition h4{margin:0;padding:0;font-weight:700}
.adSearchIcon{font-size: 1.9em; color: rgb(141, 205, 161); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 50%; text-align: center; padding: 3px;}

.menu_box .nav{background:transparent;margin-top:5px;padding:0;}
.menu_box .nav > li{padding:0 0 0 5px;}
.menu_box .nav li:first-child{padding-left:0;}
.menu_box .nav li > a{background:#8DCEA2;color:#fff;font-size:24px;padding:5px 10px;}
.menu_box .nav li a .caret{margin-top:15px;}
.menu_box .nav .open > a, .menu_box .nav .open > a:hover, .menu_box .nav .open > a:focus{background:#F8D35E;color:#000}
.menu_box .open > .dropdown-menu{background:#F8D35E;margin-top:0; min-width: 96%;border-radius:0;border:0;}
.menu_box .open > .dropdown-menu a{background:#F8D35E;font-size:14px;padding:3px 10px;color:#000}
.menu_box .open > .dropdown-menu a:hover{background-color: #e9e9e9;
    color: #838383;}
  



.media-result .details, .media-result .cover{text-align:center;}
.media-result .details h3 a {
    color: #666;
    font-size: 16px;
    text-align: center;
}
.media-result .details h3 a:hover {
   text-decoration: underline;
}
.media-result .details h3  {
  margin-top:5px;
  margin-bottom:0px;
}

.details h4 {
    color: #494f51;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.gray_box {
    background: #e9e9e9;
    float: left;
    margin-bottom: 50px;
      width: 100%;
} 
.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 0;
  overflow:hidden
}
.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
   color:#fff;
   border-radius:50%;
  background-color:rgba(0,0,0,0.4);
  text-align:center;
  padding-top:6px
}
.c-carousel__arrow--left {
  left: 15px;
}
.c-carousel__arrow--right {
  right: 15px;
}
.c-carousel__slides {
   
  
  padding: 0;
  list-style: none;
  will-change: transform;
}

.c-carousel__slides li img{height:200px;height: auto;
    width: 55%;
    margin-top: 5%;
    border: 3px solid #FFF;}  
  
/*paginATION*/  

.pagination > .active > a{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

  
.form_bg {
   
   
    background: #f6f6f6;
    background-size: 100% 100%;
        padding: 15px 0px;
}


.bg-gray {
    background-color: #F7F6F7;
    border: none;
    font-size: 12px;
    padding: 7px 5px 0px;
    float: left;
    width: 100%;
}

.mandatory {
    color: red;
}

.contact {
    padding: 10px;
    border: 1px solid #e4e4e4;
    background-color: #eee;
}
.heading {
    background-color: #bbb;
    color: #fff;
    padding: 6px 0;
    text-align: center;
}
#tcHead h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 5px;
      color: #676767;
}

.form-control {   
    border-radius: 0px;
   }
 .btn {   
    border-radius: 0px;
   }  
   
 /*=== mystyle_responsive.css==*/ 

 @media only screen and (max-width: 480px){
  .logo_container{margin:10px 0;padding:0;text-align:center}
  .right-header{width:100%;padding-right:0;margin-bottom:10px;text-align: center;}
  .topmenue{width:100%;}
  .mobTextCenter{text-align:center;}
  
  .multi-level{background:#fff !important}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{background:#005B5B;color:#fff !important;}
  .nav{float:none;margin:0 auto; padding-bottom: 10px;}
  footer{ position: static;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a { white-space: normal;}
  
  .mobfooter{width:100%;}
  .search-result{text-align:Center;}
  .pageNumber p{font-size:12px;}
  .menu_box .nav > li{padding:0 0 0 0px;}
  #refineSearch{display:none;}
  footer p {text-align:center!important;}

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .mobView{position:absolute;right:0;top:0;}
    .right-header{width:55%;}
    footer{ position: static;}
   .menu_box .nav > li{padding:0 0 0 0px;}
   #refineSearch{display:none;}
   .nav{float:none;margin:0 auto; padding-bottom: 10px;}
   
  
   
}

@media (max-width: 767px) {
.gray_box {    margin-bottom: 20px;}
 .border_wrapper { margin-bottom: 20px;}
 .cover2 img {
    margin-bottom: 10px;
    width: 100%;
}

article.media-result {
    border-bottom: 1px solid #d7dadb!important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
 
}
 
@media screen and (min-width: 768px) and (max-width: 990px) {
     .topmenue{width:100%;text-align:right;}
     .menu_box .nav > li{padding:0 0 0 0px;}
 
}

@media (min-width: 991px) and (max-width:1200px) {
   .right-header { width: 65%;}
   
}
 