<body class="body1"></body>

<table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" width="70%"></table>
<table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" class="center" width="100%">
  <tbody>
    <tr>
      <td class="tableheader">Member Publisher Code</td>
      <td class="tableheader">Member Publisher Name</td>
    </tr>
    <% if @member_publishers.present? %>
      <% @member_publishers.each do |member_publisher| %>
        <tr>
          <td bgcolor="#FBFBFB">
            <%= link_to member_publisher.member_publisher_code,edit_member_publisher_path(member_publisher) %>
          </td>
          <td bgcolor="#FBFBFB">
            <%= member_publisher.member_publisher_name %>
          </td>
        </tr>
      <%end%>
    <% else %>
      <tr>
        <td bgcolor="#FBFBFB">
          <p> No Member Publishers Found </p> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
