<div class="col-md-6">
          <div class="form-group">
             <label for="bookISBN" class="col-sm-4 nopadding">LowIp</label>
            <span class="col-sm-8">
              <%= f.text_field :low_ip, :class => "form-control", :placeholder => "Low Ip" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
<div class="col-md-6">
  <div class="form-group">
     <label for="bookISBN" class="col-sm-4 nopadding">High Ip</label>
    <span class="col-sm-8">
      <%= f.text_field :high_ip, :class => "form-control", :placeholder => "High Ip" %>
    </span>
  <%#= link_to "Greeting", "#", class: "nav_link"  %>
    <div class="clearfix"></div>
  </div>
</div>

