@import "bootstrap";
@import "bootstrap-sprockets";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding:0px;
  margin:0;
  color: #6d6c6c;
  background:url(../images/noise.png);
  font-family: 'Open Sans', sans-serif;
  color:#333;
}
a {
    color: #1e90ed;
    text-decoration: none; 
}
a:hover {
    color: #000;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{font-family: 'Raleway', sans-serif;}
p{margin:0;padding:0;font-weight:400;line-height:22px;margin-bottom:10px;}
 .heading1{color: #ec3b34; font-size: 26px; font-weight: 600;  min-height: 15px;margin:20px 0 0 0;padding:0 0 0 0; word-spacing: 4px;}
 .heading2{color: #ec3b34; font-weight: 600; font-size: 20px; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 10px;word-spacing: 4px;}
 .border_bottom { border-bottom:1px solid #d7dadb;}
.nopadding{padding:0;}
.nomargin{margin:0;}
.mtb25{margin-top:25px;margin-bottom:25px;}
.textBlur{color:#005daa;}
 .border_wrapper {border: 1px solid #d7dadb;margin-bottom: 30px;}

.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.pb10{padding-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
 .padding10px{padding:10px;}
 header{background-color:#78A9AF;width:100%;float:left;}
 .nav{width:100%;float:left;background-color:#005B5B;}
 .navbar-default .navbar-nav > li > a{color:#fff;font-weight:500}
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{color:#fff;}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color:#004747;color:#fff;}
 .topmenue{
    padding: 15px 0px;
    padding-top: 0px;
	float:right;
}
.topmenue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topmenue ul li {
    display: inline;
}
.topmenue ul li a {
    font-size: 10px;
    font-weight: bold !important;
    color: black!important;
}
.right-header{padding-right: 20px;width:50%;}
.topmenue ul li span{margin: 0px 7px;}
.searchField{width:175px;}

.dropdown-submenu {  position: relative;}
.dropdown-submenu>.dropdown-menu {top: 0; left: 100%;margin-top: -6px; margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px; -moz-border-radius: 0 6px 6px;  border-radius: 0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu { display: block;}
.dropdown-submenu>a:after {display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #333; margin-top: 5px; margin-right: -10px;}
.dropdown-submenu:hover>a:after { border-left-color: #fff;background-color:#005B5B;}
.dropdown-submenu:hover>a{ border-left-color: #fff;background-color:#005B5B;color:#fff;}
.dropdown-submenu.pull-left { float: none;}
.dropdown-submenu.pull-left>.dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 6px 0 6px 6px; -moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#005B5B;color:#fff;}

.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 0;
  overflow:hidden
}
.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
   color:#fff;
   border-radius:50%;
  background-color:rgba(0,0,0,0.4);
  text-align:center;
  padding-top:6px
}
.c-carousel__arrow--left {
  left: 15px;
}
.c-carousel__arrow--right {
  right: 15px;
}
.c-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}
.c-carousel__slides li{padding:10px;}
.c-carousel__slides li img{height:200px}

 
footer{background:#707171;width:100%;float:left;font-size:12px;padding:5px 0;border-top:15px solid #EEEEEF;border-bottom:15px solid #EEEEEF;margin-top:20px;position:fixed;bottom:0;}
footer p {
    margin:0;padding:0;color:#fff;
     
}
footer a{color:#fff;}
 
 
.alpha_category {  
     
    margin-top: 15px;
}
.alpha_category .pagination{margin:5px 0;}
.margin_bottom10px { margin-bottom: 10px;}
.pageNumber p{margin:10px 0 0 0;padding:0;}
.im_width {
    float: left;
    margin-bottom: 20px;
     
    width: 100%;
}
.margin_top20px {
    margin-top: 20px;
}
 .im_width a img {
    max-width: 80%;
}
.im_width h3 {
    font-size: 16px;
	margin:0 0 10px 0;padding:0;font-weight:600;
}
.dark_yellow{   color: #ba8300;}

 
ul.description {
    list-style-position: inside;
	margin:0;padding:0;
}
ul.description li {
    border-bottom-color: #efefef;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 3px;
}
.display_none{display:none;}
.ul.description li:last-child{border-bottom:0;}
.red{color:#ff0000;}
.termcondition h4{margin:0;padding:0;font-weight:700}