<%= render :partial => "#{@publisher.theme_name}"%> 

<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
  		  <a href="index.html"><u>Home</u></a> &gt; ABOUT US 
      </ul>     
      <div class="border_wrapper padding10px">
        <div class="">
          <h1 class="text_uppercase border_bottom heading-main ">About Us</h1>
        </div>
        <% if @publisher_about.present? %>
          <p class="mt20"><%= @publisher_about.html_safe %></p>
        <%end%>
      </div>
    </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>