<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">
      <table border="0" cellpadding="10" cellspacing="0">
			  <tr>
			    <h1>Subject Group List</h1>
			  </tr>
		    <tbody>
		      <tr>
		        <td.tableheader> Subject Group Name </td>
		        <td.tableheader> Subject Group Code </td>
		        <td.tableheader> Subject Group Level </td>
		      </tr>
		      <% if @subject_group.present? %>
		        <tr>
		          <td><%= @subject_group.first.SUG_GROUP_NAME %></td>
		          <td><%= @subject_group.first.SUG_GROUP_CODE %></td>
		          <td><%= @subject_group.first.LAN_LANGUAGE_ID %></td>
	      		</tr>
	      	<% else %>
	      	<% end %>
		    </tbody>
			</table>
    </div>
  </body>
</html>

<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>