<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12">
        <h4 class="borderBottom">Subject Group</h4>  
      </div>
    </div>
    <div class="row mt10">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("create_book.gif"),new_subject_group_path %>
          </div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Create Primary <br> Subject Group</h4>
              <!--<hr>-->
              <!--Quotation-->
              <!--<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>-->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="custCard">
            <div class="cardUp dkBlurBg"></div>
            <div class="aviater"><%= link_to image_tag("search_book.gif"),search_subject_groups_path %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Search Subject <br> Group</h4>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"> <%= link_to image_tag("book_metadata.gif"),metadata_sheet_subject_groups_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Upload Subject <br> Group Metadata Sheet</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      &nbsp;
    </div>
  </body>
</html>