<html>
<body class = "body1">
<%= render :partial => '/layouts/header' %>
<div class="div1">
<table>
  <thead>
    <th class="page_head">Subject Group</th>
  </thead>
 </table>

<div class="center">
<table style="text-align:center;">
  <tr>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("create_book.gif"),subject_groups_create_path %><br>
      Create Primary <br> Subject Group
    </td>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("search_book.gif"),subject_groups_search_path %><br>
      Search Subject <br> Group
    </td>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("book_metadata.gif"),subject_groups_metadata_sheet_path %><br>
      Upload Subject <br> Group Metadata <br> Sheet
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>

