<html>
	<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">

  <tr>
    <td valign="top" bgcolor="#FFFFFF" class="footer_bg"><table width="888" border="0" align="center" cellpadding="0" cellspacing="0">
      
      <tr>
        <td><table width="888" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="10" height="10" align="left" valign="top"><img src="images/corn_left_top.gif" width="13" height="14" /></td>
            <td height="10" valign="top" bgcolor="#FFFFFF" style="background-image: url(images/tabl_top_bg.gif); background-position:top; background-repeat:repeat-x;"><img src="images/tabl_top_bg.gif" width="2" height="2" /></td>
            <td width="10" height="10" align="right" valign="top"><img src="images/corn_right_top.gif" width="13" height="14" /></td>
          </tr>
          <tr bgcolor="#FFFFFF">
            <td width="10" align="left" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_left_bg.gif); background-position:left; background-repeat:repeat-y;"><img src="images/left_corn_bot.gif" width="13" height="361" /></td>
            <td valign="top" bgcolor="#FFFFFF">














 
 <script>   function checkPublisher(){
      	var pub = document.getElementById("pubCode");
      	if(pub==null || pub.value==""){
      	var msg='Please select a publisher';
							alert(msg);
      		return false;
      	}
    }
    </script>

<form name="subjectGpResultForm" method="post" action="/AdminTool/searchSubjectGroupsubmit.do">
<table width="860" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="page_head">Search Subject Group</td>
    <td align="right" valign="bottom" class="page_head">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="6">
      <tr>
        <td><TABLE cellSpacing=0 cellPadding=10 border=0>
                            <TR>
                              <TD 
                                height=25>Publisher</TD>
                              <TD 
                                height=25>
                              	<select name="pubCode" id="pubCode" style="pubCode">
					
					<option value="">Select</option>
					
						<option value="egramata">
							eGramata						</option>
						
						<option value="lkjh">
							lkjh						</option>
						
						<option value="mjhu">
							mjhu						</option>
						
						<option value="qwer">
							qwer1						</option>
						
						<option value="djoef">
							DJØF Forlag						</option>
						
						<option value="mpil">
							macmillan publishers india limited						</option>
						
						<option value="gmedia">
							Global Media						</option>
						
						<option value="niace">
							National Institute of Adult Continuing Education (NIACE)						</option>
						
						<option value="gillmac">
							Gill & MacMillan						</option>
						
						<option value="dummypub2">
							Dummy Publisher2						</option>
						
						<option value="dummypub1">
							Dummy Publisher1						</option>
						
						<option value="versita">
							versita.pl						</option>
						
						<option value="TP">
							Test Publisher						</option>
						
						<option value="jhup">
							The Johns Hopkins University Press						</option>
						
						<option value="alok">
							alok						</option>
						
						<option value="aiaa">
							AIAA						</option>
						
						<option value="croner">
							Wolters Kluwer Croner business						</option>
						
						<option value="1234">
							mps test						</option>
						
						<option value="mps">
							MPS						</option>
						
						<option value="mpstest1">
							mpstest1						</option>
						
						<option value="bk">
							bijay kmuar						</option>
						
						<option value="uo1">
							urmi						</option>
						
						<option value="rts">
							revive						</option>
						
						<option value="mpst">
							macmillan publishing						</option>
						
						<option value="wtbooks">
							World Technology						</option>
						
						<option value="allenpress">
							Allen Press						</option>
						
						<option value="u01">
							check						</option>
						
					</select>                              </TD>
                            </TR>
                            <TR>
                              <TD 
                                height=25>Subject Group Name</TD>
                              <TD height=25><INPUT name="searchName" class="text_field" /></TD>
                            </TR>
                            <TBODY>
                            </TBODY>
                            <TBODY>
                              
                              
                              <TR>
                                <TD width="137" 
                                height=25>Subject Group Code</TD>
                                <TD 
                                height=25><INPUT name="searchCode" class="text_field" /></TD>
                              </TR>
                              <TR>
                              	<TD>
									Select Language </td>
									<td><select id="selectedMetaDataLanguage" name="selectedMetaDataLanguage" class="text_field" >
	              					<option value="" selected="">Select</option>
	              					
                  					<option value="da">Dansk</option>
                 					
                  					<option value="pl">Polish</option>
                 					
                  					<option value="lv">Latvian</option>
                 					
                  					<option value="en">English</option>
                 					
                					</select>
                				</TD>
                              </TR>
                              <TR>  
                                <TD>&nbsp;</TD>
                                <TD><input type="submit" name="search" value="Submit" onclick="return checkPublisher();" class="submit_btn">
                                                  <input type="reset" name="button" value="Reset" class="submit_btn">  </TD>
                              </TR>
                            </TBODY>
            </TABLE></td>
      </tr>
      </TABLE></td>
    </tr>
  </table>
</form></td>
            <td width="10" align="right" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_right_bg.gif); background-position:right; background-repeat:repeat-y;"><img src="images/right_corn_bot.gif" width="13" height="361" /></td>
          </tr>
          <tr>
            <td width="10" height="10" align="left" valign="bottom"><img src="images/corn_left_bot.gif" width="13" height="17" /></td>
            <td height="10" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_bot_bg.gif); background-position:bottom; background-repeat:repeat-x;"><img src="images/tabl_bot_bg.gif" width="4" height="4" /></td>
            <td width="10" height="10" align="right" valign="bottom"><img src="images/corn_right_bot.gif" width="13" height="17" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" class="footer_white">
Copyright © 2006-2009 MPS Technologies Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</div>
</body>
</html>