<div class="container-fluid whiteBg	">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="footer_white">
				Copyright © 2017-2018 MPS Technologies Ltd</p>
			</div>
		</div>
	</div>
</div>