 <div class="top-head container-fluid">
            <button type="button" class="navbar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- Left navbar -->
            <!-- Right navbar -->
            <ul class="list-inline navbar-right top-menu top-right-menu">
               <!-- /Notification -->
               <!-- user login dropdown start-->
               <li class="dropdown text-center">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <i class="material-icons">person_outline</i>
                  </a>
                  <div class="dropdown-menu extended pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
                     <p class="text-center welcome">Welcome <span class="username">CTS superadmin</span></p>
                     <p class="text-center logged-in-role">Your are logged in as <span>Project Manager</span></p>
                     <p class="action-buttons">
                        <%= link_to "Logout", destroy_user_session_path, :method => "delete", :id => "button_id", :class => "flat-btn pull-right" %>
                     </p>
                  </div>
               </li>
               <!-- user login dropdown end -->
            </ul>
            <!-- End right navbar -->
         </div>